.separator{
  display:flex;
  align-items: center;
  margin:auto;
  width:300px;
}

.separator .line{
  height: 1px;
  flex: 1;
  background-color: #E0DFDE;
  margin-left:auto;
	margin-right:auto;
	width:40%;

}

.separator h4{
  padding: 0 1rem;
}