# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.exec

/.idea/
**/.gradle/
**/node_modules/

**/local/

**/dist/
**/coverage
**/.nyc_output/

.envrc

dataland-loki/data/

# Allow build/libs directories for pre-built JARs
**/build/
!**/build/libs/
