version: "3.8"
services:
  backend:
    build:
      context: ./
      dockerfile: ./dataland-backend/Dockerfile
    ports:
      - "8080:8080"
  e2etests:
    build:
      context: ./
      dockerfile: ./dataland-e2etests/Dockerfile
    ports:
      - "8081:8080"
  frontende2etests:
    build:
      context: ./
      dockerfile: ./dataland-frontend/Dockerfile