.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

reports
/tests/e2e/videos/
/.nyc_output/
/coverage/
/.gradle/nodejs/node-v16.14.0-win-x64/CHANGELOG.md
/.gradle/nodejs/node-v16.14.0-win-x64/corepack
/.gradle/nodejs/node-v16.14.0-win-x64/corepack.cmd
/.gradle/nodejs/node-v16.14.0-win-x64/install_tools.bat
/.gradle/nodejs/node-v16.14.0-win-x64/LICENSE
/.gradle/nodejs/node-v16.14.0-win-x64/node.exe
/.gradle/nodejs/node-v16.14.0-win-x64/node_etw_provider.man
/.gradle/nodejs/node-v16.14.0-win-x64/nodevars.bat
/.gradle/nodejs/node-v16.14.0-win-x64/npm
/.gradle/nodejs/node-v16.14.0-win-x64/npm.cmd
/.gradle/nodejs/node-v16.14.0-win-x64/npx
/.gradle/nodejs/node-v16.14.0-win-x64/npx.cmd
/.gradle/nodejs/node-v16.14.0-win-x64/README.md
