rateOfAccidentsInPercent.value = social.socialAndEmployeeMatters.rateOfAccidents.value
ceoToEmployeePayGapRatio.value = social.socialAndEmployeeMatters.excessiveCeoPayRatio.value
excessiveCeoPayRatioInPercent.value = social.socialAndEmployeeMatters.excessiveCeoPayRatio.value



environmental.greenhouseGasEmissions.enterpriseValue.value = environmental.greenhouseGasEmissions.enterpriseValueInEUR.value
enterpriseValue.currency = "EUR"
environmental.greenhouseGasEmissions.totalRevenue.value = environmental.greenhouseGasEmissions.totalRevenueInEUR.value
totalRevenueInEUR.currency = "EUR"

##Howtochange?
environmental.greenhouseGasEmissions.carbonFootprintInTonnesPerMillionEURRevenue.value = environmental.greenhouseGasEmissions.carbonFootprintInTonnesPerMillionEUREnterpriseValue.value
