rateOfAccidentsInPercent.value = social.socialAndEmployeeMatters.rateOfAccidents.value
ceoToEmployeePayGapRatio.value = social.socialAndEmployeeMatters.excessiveCeoPayRatio.value
excessiveCeoPayRatioInPercent.value = social.socialAndEmployeeMatters.excessiveCeoPayRatio.value
enterpriseValue.value = environmental.greenhouseGasEmissions.enterpriseValueInEUR.value
enterpriseValue.currency = "EUR"
totalRevenue.value = environmental.greenhouseGasEmissions.totalRevenueInEUR.value
totalRevenue.currency = "EUR"
carbonFootprintInTonnesPerMillionEURRevenue.value = environmental.greenhouseGasEmissions.carbonFootprintInTonnesPerMillionEUREnterpriseValue.value
