@font-face {
  font-family: 'IBMPlexSans';
  src: local('IBMPlexSans'),url("../fonts/IBMPlexSans-Regular.ttf") format('truetype');
}

#app {
  font-family: 'IBMPlexSans', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}