/* Please read the Dataland Wiki before adjusting -> Coding Guidelines -> Frontend */

:root {
  /* typography */
  --fk-font-family: 'IBMPlexSans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* Colors */
  --fk-color-primary: #E67F3F;

  /* Borders */
  --fk-border-style: none;
  --fk-border-radius-tl: 0.0em;
  --fk-border-radius-tr: 0.0em;
  --fk-border-radius-bl: 0.0em;
  --fk-border-radius-br: 0.0em;
}