#!/usr/bin/env bash
# Prepares the environment for a client controller.

EURODAT_BASE_URL="${EURODAT_BASE_URL}"
CLIENT_ID=dataland_client
KEY_STORE_FILE_PATH=/crt/keystore.jks
KEY_STORE_FILE_PASSWORD="${KEY_STORE_FILE_PASSWORD}"
TLS_CERT_PATH=/crt/tls.crt
EURODAT_API_URL="${EURODAT_BASE_URL}/control-plane/api/v1/controller"
EURODAT_CREDENTIAL_API_URL="${EURODAT_BASE_URL}/control-plane/api/v1/credential-service"
EURODAT_DATABASE_API_URL="${EURODAT_BASE_URL}/control-plane/api/v1/database-service"
EURODAT_TRANSACTION_API_URL="${EURODAT_BASE_URL}/control-plane/api/v1/transaction-service"
QUARKUS_HTTP_SSL_CERTIFICATE_KEY_STORE_FILE=/crt/keystore.jks
QUARKUS_HTTP_SSL_CERTIFICATE_KEY_STORE_PASSWORD="${QUARKUS_HTTP_SSL_CERTIFICATE_KEY_STORE_PASSWORD}"
QUARKUS_OIDC_CLIENT_AUTH_SERVER_URL="${EURODAT_BASE_URL}/auth/realms/eurodat"
QUARKUS_OIDC_CLIENT_CLIENT_ID=dataland_client
QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_AUDIENCE="${EURODAT_BASE_URL}/auth/realms/eurodat"
QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_ID=certificate
QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_PASSWORD="${QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_PASSWORD}"
QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_STORE_PASSWORD="${QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_STORE_PASSWORD}"
QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_STORE_FILE=/crt/keystore.jks
QUARKUS_OIDC_CREDENTIALS_JWT_SIGNATURE_ALGORITHM=RS256
QUARKUS_OIDC_CLIENT_GRANT_TYPE=client
QUARKUS_OIDC_CLIENT_SCOPES=openid
QUARKUS_OIDC_CLIENT_TLS_VERIFICATION=none