server {
    listen 80;
    listen [::]:80;

    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location /.well-known/d-statuscheck {
        return 200 'UP';
    }

    location / {
        return 301 https://${PROXY_PRIMARY_URL}$request_uri;
    }
}
