# BACKEND
upstream backend-db {
    server backend-db:5432;
}

server {
    listen 5433 so_keepalive=on;
    proxy_pass backend-db;
}

# KEYCLOAK
upstream keycloak-db {
    server keycloak-db:5432;
}

server {
    listen 5434 so_keepalive=on;
    proxy_pass keycloak-db;
}
