* {
  box-sizing: border-box;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--p-primary-contrast-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: unset;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  margin: 0;
  padding: 0;
}

.p-badge {
  color: var(--btn-primary-color);
  background: var(--btn-primary-bg);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  margin: var(--spacing-xxs);
  text-align: center;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0 0.5rem;

  &.round {
    border-radius: 50%;
  }

  &.badge-yellow {
    color: var(--yellow-700);
    background: var(--yellow-100);
  }

  &.badge-orange {
    color: var(--orange-700);
    background: var(--orange-100);
  }

  &.badge-green,
  &.p-badge-success {
    color: var(--green-700);
    background: var(--green-100);
    border-color: var(--green-700);
  }

  &.badge-light-green {
    color: var(--green-500);
    background: var(--green-100);
    border-color: var(--green-500);
  }

  &.badge-red {
    color: var(--red-700);
    background: var(--red-100);
  }

  &.badge-blue {
    color: var(--blue-700);
    background: var(--blue-100);
  }

  &.badge-purple {
    color: var(--purple-700);
    background: var(--purple-100);
  }

  &.badge-gray {
    color: var(--gray-700);
    background: var(--gray-100);
  }

  &.badge-brown {
    color: var(--brown-light);
    background: #e2d9c5;
  }

  &.outline {
    background: none;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    display: flex;
    margin: 1rem;
    height: auto;
  }
}


// We want this classes to always overwrite styles to main colors
.text-primary,
.primary-color {
  color: var(--main-color);
}

.text-danger {
  color: var(--fk-color-error);
  font-size: var(--font-size-xs);
}

.bg-primary {
  color: var(--bg-text-primary);
  background-color: var(--main-color);
}

.bg-white {
  background-color: var(--default-neutral-white);
}

// Typography //
.gray-text {
  color: var(--gray);
}

.red-text {
  color: var(--red);
}

.green-text {
  color: var(--green);
}

// Radius //
.radius-1 {
  border-radius: var(--p-border-radius-xs);
}

// Home Page


.grid-2-form-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div:nth-child(even) {
    border-left: 1px solid var(--table-border);
    padding: 0 0 0 20px;
  }

  > div:nth-child(odd) {
    border: 0 none;
    padding: 0 20px 0 0;
  }

  .formkit-outer:last-child {
    margin: 0;
  }

  grid-gap: 10px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    > div:nth-child(even) {
      border: 0 none;
      padding: 0;
    }
    > div:nth-child(odd) {
      padding: 0;
    }
    > div {
      margin-bottom: 1rem;
    }
  }
}

