.p-badge {
  color: var(--btn-primary-color);
  background: var(--btn-primary-bg);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  margin: var(--spacing-xxs);
  text-align: center;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0 0.5rem;

  &.round {
    border-radius: 50%;
  }

  &.badge-yellow {
    color: var(--yellow-700);
    background: var(--yellow-100);
  }

  &.badge-orange {
    color: var(--orange-700);
    background: var(--orange-100);
  }

  &.badge-green,
  &.p-badge-success {
    color: var(--green-700);
    background: var(--green-100);
    border-color: var(--green-700);
  }

  &.badge-light-green {
    color: var(--green-500);
    background: var(--green-100);
    border-color: var(--green-500);
  }

  &.badge-red {
    color: var(--red-700);
    background: var(--red-100);
  }

  &.badge-blue {
    color: var(--blue-700);
    background: var(--blue-100);
  }

  &.badge-purple {
    color: var(--purple-700);
    background: var(--purple-100);
  }

  &.badge-gray {
    color: var(--gray-700);
    background: var(--gray-100);
  }

  &.badge-brown {
    color: var(--brown-light);
    background: #e2d9c5;
  }

  &.outline {
    background: none;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    display: flex;
    margin: 1rem;
    height: auto;
  }
}