.p-button {
  color: $btn-primary-color;
  background: $btn-primary-bg;
  border: 1px solid $btn-primary-bg;
  padding: $spacing-xxs $spacing-sm;
  font-size: $fs-base;
  transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
  border-radius: 0;
  font-weight: $fw-semibold;
  line-height: $line-height-2;
  &:hover {
    background: darken($btn-primary-bg, 20%);
    border-color: darken($btn-primary-bg, 20%);
  }
  &:active {
    background: darken($btn-primary-bg, 10%);
    border-color: darken($btn-primary-bg, 10%);
  }
}
