.p-card {
  background: var(--card-background);
  color: var(--card-text);
  &.page-wrapper-card {
    .p-card-title {
      text-align: left;
      padding: 1rem 0;
      margin: 1rem 0;
      border-bottom: 1px solid var(--input-separator);
    }
  }
  .p-card-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }
  .p-card-subtitle {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xs);
    color: var(--gray);
  }
  .p-card-content {
    padding: var(--spacing-md) 0;
    color: var(--p-blue-950);
  }
  .p-card-footer {
    padding: var(--spacing-md) 0 0 0;
  }
}
.d-card {
  background: var(--default-neutral-white);
  padding: var(--spacing-md);
  box-shadow: 0 0 3px 3px var(--shadow-color);
}

.top-border-section {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--input-separator);
}

.bottom-border-section {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--input-separator);
}

.bottom-border-section-dots {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dotted var(--input-separator);
}

.p-progressbar {
  height: 2rem;
  background: var(--default-neutral-white);
  border: 1px solid var(--gray-light);
  border-radius: 6px;
  .p-progressbar-value {
    margin: 0;
    background: var(--p-primary-color);
  }
  .p-progressbar-label {
    color: var(--default-neutral-white);
    line-height: 1.5rem;
  }
}

.progressbar-finished p {
  color: var(--green);
}

.progressbar-finished .p-progressbar-value {
  background-color: var(--green);
}

.progressbar-window-indication {
  border-color: var(--red);
  border-radius: 4px;
  color: var(--red);
}
.p-fileupload .p-fileupload-content {
  background: var(--default-neutral-white);
  padding: 2rem 1rem;
  border: 1px dashed #958d7c;
  border-radius: 8px;
  color: #1b1b1b;
}
.link-in-list {
  padding: 0 0.5rem;
}
.link-in-list:not(:last-child) {
  border-right: 1px solid #858585;
}
