@use "../colors";
@use "../units";
@use "../variables";

.p-card {
  background: colors.$card-background;
  color: colors.$card-text;
  &.page-wrapper-card {
    .p-card-title {
      text-align: left;
      padding: 1rem 0;
      margin: 1rem 0;
      border-bottom: 1px solid colors.$input-separator;
    }
  }
  .p-card-title {
    font-size: variables.$fs-xl;
    font-weight: variables.$fw-bold;
  }
  .p-card-subtitle {
    font-weight: variables.$fw-bold;
    margin-bottom: variables.$spacing-xxs;
    color: variables.$gray;
  }
  .p-card-content {
    padding: variables.$spacing-sm 0;
    color: variables.$aquamarine-dark;
  }
  .p-card-footer {
    padding: variables.$spacing-sm 0 0 0;
  }
}
.d-card {
  background: variables.$white;
  padding: variables.$spacing-sm;
  box-shadow: 0 0 3px 3px colors.$shadow-color;
  border-radius: units.$upload-form-radius;
}

.top-border-section {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid colors.$input-separator;
}

.bottom-border-section {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid colors.$input-separator;
}

.bottom-border-section-dots {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dotted colors.$input-separator;
}

.p-progressbar {
  height: 2rem;
  background: variables.$white;
  border: 1px solid variables.$gray-light;
  border-radius: 6px;
  .p-progressbar-value {
    margin: 0;
    background: variables.$orange-prime;
  }
  .p-progressbar-label {
    color: variables.$white;
    line-height: 1.5rem;
  }
}

.progressbar-finished p {
  color: variables.$green;
}

.progressbar-finished .p-progressbar-value {
  background-color: variables.$green;
}

.progressbar-window-indication {
  border-color: variables.$red;
  border-radius: 4px;
  color: variables.$red;
}
.p-fileupload .p-fileupload-content {
  background: #fff;
  padding: 2rem 1rem;
  border: 1px dashed #958d7c;
  border-radius: 8px;
  color: #1b1b1b;
}
.link-in-list {
  padding: 0 0.5rem;
}
.link-in-list:not(:last-child) {
  border-right: 1px solid #858585;
}
