.p-card {
  background: $card-background;
  color: $card-text;
  border-radius: 0.5rem;
  box-shadow: 0 0 32px 8px rgba(30, 30, 31, 0.08);
  .p-card-body {
    padding: $spacing-sm
  }
  .p-card-title {
    font-size: $fs-xl;
    font-weight: $fw-bold;
    margin-bottom: $spacing-xxs
  }
  .p-card-subtitle {
    font-weight: $fw-bold;
    margin-bottom: $spacing-xxs;
    color: $gray
  }
  .p-card-content {
    padding: $spacing-sm 0;
    color: $aquamarine-dark
  }
  .p-card-footer {
    padding: $spacing-sm 0 0 0
  }
}

.p-progressbar {
  height: 2rem;
  background: $white;
  border: 1px solid $gray-light;
  border-radius: 6px;
  .p-progressbar-value {
    margin: 0;
    background: $orange-prime
  }
  .p-progressbar-label {
    color: $white;
    line-height: 1.5rem
  }
}

.progressbar-finished p {
  color: $green;
}

.progressbar-finished .p-progressbar-value {
  background-color: $green;
}

.progressbar-window-indication {
  border-color: $red;
  border-radius: 4px;
  color: $red;
}
.p-fileupload .p-fileupload-content {
  background: #fff;
  padding: 2rem 1rem;
  border: 1px dashed #958D7C;
  border-radius: 8px;
  color: #1b1b1b;
}


