.p-datatable,
.p-datatable.p-datatable-scrollable {
  border-radius: 0;
  background: $table-background-color;
  color: $main-text-color;

  .border-left {
    border-left: 1px solid $table-border;
  }

  .border-right {
    border-right: 1px solid $table-border;
  }

  .border-bottom {
    border-bottom: 1px solid $table-border;
  }

  .horizontal-headers-size {
    background-color: #fff;

    &:first-of-type {
      width: $first-table-column-width;
    }
  }
  .onlyHeaders {
    tr {
      display: flex;
      width: calc(100vw - 58px);
    }
    tr th:not(.first-horizontal-headers-size) {
      flex: 1;
    }
    .p-datatable-tbody {
      display: none;
    }
  }
  tr {
    &:not(.p-rowgroup-header) {
      td {
        border-bottom: 1px solid $table-border;
      }
    }
    &:hover {
      background: $table-background-hover-color;
    }
    th,
    td {
      text-align: left;
      padding: 1rem;
    }
  }
  .p-datatable-tbody {
    tr {
      border-color: lighten($table-border-dark, 45%);
    }
    .info-icon {
      float: right;
      max-width: 20%;
    }
    .table-left-label {
      float: left;
      max-width: 80%;
    }
  }
  .p-sortable-column {
    .p-sortable-column-icon {
      color: $table-icon-color;
      margin-left: 0.5rem;
    }
    &.p-highlight {
      background: $table-background-color;
      color: $main-color;
      .p-sortable-column-icon {
        color: $main-color;
      }
    }
  }
  .headers-bg {
    background-color: $tables-headers-bg;
    display: table-cell;
    width: $first-table-column-width;
  }
  .auto-headers-size {
    width: auto;
  }
  .p-rowgroup-header {
    background-color: $table-background-hover-color-light;
    cursor: pointer;

    &.p-topmost-header {
      background-color: $tables-headers-bg;
    }

    td {
      position: relative;
      width: $first-table-column-width;
      button {
        position: absolute;
        right: 1rem;
        top: 50%;
        margin-top: -7px;
      }
    }
  }

  .p-datatable-thead {
    z-index: 1;
    tr {
      box-shadow: none;
      &:hover {
        background: $table-background-color;
      }
    }
  }

  &.activities-data-table {
    $col-activity-width: 300px;
    $col-nace-codes-width: 70px;
    .group-row-header {
      background-color: $tables-headers-bg;
      border-bottom: 1px solid $table-border;
      .p-column-header-content {
        justify-content: center;
      }
      &:not(:first-of-type) {
        border-left: 1px solid $table-border;
      }
    }
    .first-group-column:not(:first-of-type) {
      border-left: 1px solid $table-border;
    }
    .non-frozen-header {
      vertical-align: top;
    }
    .frozen-row-header {
      vertical-align: top;
      background-color: $tables-headers-bg;
    }
    .col-activity {
      width: $col-activity-width;
      min-width: $col-activity-width;
    }
    .col-nace-codes {
      width: $col-nace-codes-width;
      min-width: $col-nace-codes-width;
      border-right: 1px solid $table-border;
    }
    .col-value {
      width: 160px;
      min-width: 160px;
    }
  }
}

.p-paginator {
  background: #fff;
  color: $pagination-color;
  padding: 0.5rem 1rem;
  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0.143rem;
    &:not(.p-disabled) {
      &:not(.p-highlight) {
        &:hover {
          background: $pagination-bg-hover;
        }
      }
    }
  }
  .p-paginator-current {
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0.143rem;
    padding: 0 0.5rem;
  }
  .p-paginator-pages {
    .p-paginator-page {
      min-width: 2.357rem;
      height: 2.357rem;
      margin: 0.143rem;
    }
    .p-paginator-page.p-highlight {
      background: $main-color;
      border-color: $main-color;
      color: $bg-text-primary;
    }
  }
}
.border-bottom-table {
  border-bottom: 1px solid $table-border;
}

.table-cell-alignment {
  display: flex;
  flex-direction: column;
}

.indentation {
  span {
    padding-left: 1rem;
  }
}
