.dataland-dialog {
  padding: 0.1rem 1.5rem 1rem;
  background-color: white;
}

.dataland-dialog-sm {
  min-width: 360px;
  max-width: 360px;
  width: 360px;
}

.p-dialog {
  border-radius: 0;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: $card-background;
  max-width: 80%;

  .p-dialog-header {
    padding: 1rem;

    .p-dialog-title {
      font-weight: 600;
      font-size: 1.25rem;
    }

    .p-dialog-header-icon {
      width: 1.5rem;
      height: 1.5rem;
      color: $card-background;
      border: none;
      background: $brown-lighter;
      transition:
        background-color 0.2s,
        color 0.2s,
        box-shadow 0.2s;
      margin-left: 0.5rem;
      border-radius: 1rem;

      &:enabled:hover {
        background: darken($brown-lighter, 20%);
      }

      &:focus {
        outline: 0 none;
        outline-offset: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .p-dialog-content {
    padding: 1rem;

    .p-datatable-table {
      min-width: 100%;
    }
  }

  .p-dialog-footer {
    padding: 1rem;
    text-align: right;

    button {
      margin: 0 0.5rem 0 0;
      width: auto;
    }
  }
}

.p-dialog.p-confirm-dialog {
  .p-confirm-dialog-icon {
    font-size: 2rem;
  }

  .p-confirm-dialog-message {
    margin-left: 1rem;
  }
}

.p-overlaypanel {
  background: $white;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 0 3px 3px $shadow-color;
  padding: 1rem;

  .title {
    margin: 0 0 1rem 0;
  }

  .three-in-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    a {
      text-decoration: none;
    }
  }
}

.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}

@keyframes p-component-overlay-enter-animation {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--maskbg);
  }
}

@keyframes p-component-overlay-leave-animation {
  from {
    background-color: var(--maskbg);
  }
  to {
    background-color: transparent;
  }
}
