.input-group {
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
}
form {
  text-align: left;
  [data-type="text"], [data-type="select"], [data-type="number"], [data-type="textarea"] {
    .formkit-inner {
      font-size: $input-text-fs;
      border-radius: 0;
      background:$input-text-bg;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: $input-text-border;
      box-shadow: none;
      &:focus-within {
        outline: none;
        border-bottom: 1px solid $input-text-border-hover;
      }
      .formkit-input {
        line-height: normal;
      }
    }
  }
  .formkit-decorator {display: none;}
}

input {
  font-family: $ibm-plex-sans;
  font-size: $input-text-fs;
  &[type="submit"], &[type="reset"] {
    border-radius: $radius-none
  }
}

input[type="checkbox"], input[type="radio"]{
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  height: 25px;
  width: 25px;
  margin-right: .5rem;
  background-color: $input-text-bg;
  border: 3px solid $input-text-border-hover;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    content: "";
    width: 5px;
    height: 10px;
    border: solid $input-text-border-hover;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
  }

  &:checked::before {
    display: block;
  }
}

.checkbox-error {
  color: #EE1A1A;
}

.p-inputtext {
  font-family: $ibm-plex-sans;
  color: $input-text-color;
  background: $input-text-bg;
  padding: $spacing-xs;
  border: 0;
  margin: 0;
  transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
  appearance: none;
  border-radius: $radius-none;
  &:enabled:hover {
    border-color: $input-text-border-hover
  }
  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 .2rem #bfd1f6;
    border-color: $input-text-border-hover
  }
  &.p-invalid.p-component {
    border-color: #ced4da #ced4da #ced4da #e4677e
  }
  &.p-inputtext-sm {
    font-size: $fs-sm;
    padding: $spacing-xxs
  }
  &.p-inputtext-lg {
    font-size: $fs-lg;
    padding: $spacing-xs
  }
}

.p-radiobutton {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  &:enabled:focus {
    outline: 0 none
  }
}

.p-dropdown {
  background:$input-text-bg;
  .p-dropdown-trigger {
    background: transparent;
    color: $brown-dark;
    width: 2.357rem;
  }
}

.outline-dropdown {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: $outline-dropdown-border;
  border-radius: 8px;
  .p-inputtext {
    background: transparent;
  }
}

.fill-dropdown {
  background: $white;
  border-width: 2px;
  border-style: solid;
  border-color: $fill-dropdown-bg;
  border-radius: 8px;
  &.always-fill {
    background: $fill-dropdown-bg;
    color: $white;
    .p-inputtext {
      color: $white;
    }
    .p-dropdown-trigger {
      color: $white;
    }
  }
  &.p-inputwrapper-filled {
    background: $fill-dropdown-bg;
    color: $white;
    .p-inputtext {
      color: $white;
    }
    .p-dropdown-trigger {
      color: $white;
    }
  }
  &.p-overlay-open {
    background: $fill-dropdown-hover-bg;
    .p-inputtext {
      color: $fill-dropdown-hover-text;
    }
    .p-dropdown-trigger {
      color: $fill-dropdown-hover-text;
    }
  }
  &.p-focus {
    .p-inputtext {
      outline-width: 0;
    }
  }
  .p-inputtext {
    background: transparent;
    padding: .5rem .75rem;
    color: $fill-dropdown-hover-text;
  }
  .p-dropdown-trigger {
    color: $fill-dropdown-hover-text;
  }
}

.p-dropdown-panel {
  background:$white;
  .p-dropdown-items {
    .p-dropdown-item {
      margin: 0;
      padding: 0.5rem 1rem;
      border: 0.1em solid $dropdown-options-bg;
      color: $input-text-color;
      background: transparent;
      transition: background-color .2s,border-color .2s,box-shadow .2s;
      border-radius: 0;
      &:not(.p-highlight):not(.p-disabled):hover {
        background: $dropdown-options-bg;
      }
      &.p-highlight {
        color: $input-text-bg;
        background: $input-text-border-hover;
      }
    }
  }
}

.p-datepicker {
  padding: .5rem;
  background: $card-background;
  color: $card-text;
  border-radius: 0;
  &:not(.p-datepicker-inline) {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1)
  }
  .p-datepicker-header {
    padding: .5rem;
    font-weight: $semi-bold-weight;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
    .p-datepicker-prev, .p-datepicker-next {
      width: 2rem;
      height: 2rem;
      color: #6c757d;
      border: 0 none;
      background: transparent;
      border-radius: 50%;
      transition: background-color .2s, color .2s, box-shadow .2s;
      &:enabled:hover {
        background: #e9ecef
      }
      &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 .2rem #bfd1f6
      }
    }
    .p-datepicker-title {
      line-height: 2rem;
      .p-datepicker-year, .p-datepicker-month {
        font-size: $input-text-fs;
        font-weight: $light-bold-weight;
        &:enabled:hover {
          color: $main-color
        }
      }
      .p-datepicker-month {
        margin-right: .5rem
      }
    }
  }
  .p-yearpicker, .p-monthpicker {
    margin: 1rem 0;
    .p-yearpicker-year, .p-monthpicker-month {
      padding: .5rem;
      &.p-highlight {
        color: $btn-primary-color;
        background: $btn-primary-bg;
      }
      &:not(.p-disabled):not(.p-highlight):hover {
        background: $gray-light;
      }
    }
  }
  table {
    margin: .5rem 0;
    th {
      padding: .5rem;
      span {
        width: 2.5rem;
        height: 2.5rem
      }
    }
    td {
      padding: .5rem;
      span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        transition: background-color .2s, border-color .2s, box-shadow .2s;
        border: 1px solid transparent;
        &.p-highlight {
          color: $btn-primary-color;
          background: $btn-primary-bg;
          &:hover {
            color: $btn-primary-color;
            background: $btn-primary-bg;
          }
        }
        &:hover {
          background: $gray-light;
        }
        &.p-disabled {
          opacity: .3;
        }
      }
      &.p-datepicker-today > span {
        background: $gray-light;
        color: $full-dark;
      }
    }
  }
  .p-datepicker-buttonbar {
    padding: 1rem 0;
    border-top: 1px solid #dee2e6
  }
}

.p-multiselect {
  background: $card-background;
  .p-multiselect-label {
    padding: .5rem;
    &.p-placeholder {
      color: $text-color-secondary
    }
  }
}

.p-multiselect-panel {
  background: $bg-text-primary;
  color: $main-text-color;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
  .p-multiselect-header {
    padding: .5rem 1rem;
    .p-multiselect-filter-icon {
      right: .5rem;
    }
    .p-checkbox {
      margin-right: .5rem;
      &::after {
        content: "Select All";
        margin-left: 0.5rem;
        z-index: -2;
      }
    }

    .p-multiselect-close-icon {
      &::before {
        display: none;
      }
    }
  }
  .p-multiselect-items {
    padding: .5rem 0;
    .p-multiselect-empty-message {
      margin-left:1.25rem;
    }
    .p-multiselect-item {
      padding: .5rem 1rem;
      &.p-highlight {
        color: $bg-text-primary;
        background: $main-color
      }
      &:not(.p-highlight):not(.p-disabled):hover {
        background: $input-text-bg
      }
      .p-checkbox {
        margin-right: .5rem
      }
    }
  }
}

.p-inputswitch {
  width: 3rem;
  height: 1.75rem;
  .p-inputswitch-slider {
    background: $inputswitch-slider-bg-off;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
    &::before {
      background: $bg-text-primary;
      width: 1.25rem;
      height: 1.25rem;
      left: 0.25rem;
      margin-top: -0.625rem;
      border-radius: 50%;
      transition-duration: 0.2s;
    }
  }
  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background: $inputswitch-slider-bg;
      &::before {
        background: $bg-text-primary;
        transform: translateX(1.25rem);
      }
    }
  }
}


.p-tooltip {
  .p-tooltip-text {
    background: $input-label-color;
    color: $bg-text-primary;
    padding: .5rem;
    border-radius: 0;
    width: max-content;
    max-width: 300px;
  }
  &.p-tooltip-right .p-tooltip-arrow {
    border-right-color: $input-label-color
  }
  &.p-tooltip-left .p-tooltip-arrow {
    border-left-color: $input-label-color
  }
  &.p-tooltip-top .p-tooltip-arrow {
    border-top-color: $input-label-color
  }
  &.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: $input-label-color
  }
}

.uploadFormWrapper {
  input[type=checkbox], input[type=radio] {
    display: grid;
    place-content: center;
    margin: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin-right: 10px;
  }
  input[type=checkbox] {
    background-color: $input-text-bg;
    border: 2px solid $input-checked-color;
    border-radius: 2px;
  }
  input[type=checkbox]:checked {
    background-color: $input-checked-color;
  }
  input[type=radio] {
    background-color: white;
    border: 2px solid $input-label-color;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
  }
  input[type=checkbox]::before, input[type=radio]::before {
    content: "";
    width: 5px;
    height: 7px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-top: -2px;
    display: none;
  }
  input[type=checkbox]::before {
    border-style: solid;
    border-color: $input-text-bg;
  }
  input[type=radio]::before {
    border-style: solid;
    border-color: $input-label-color;
  }
  input[type=checkbox]:checked::before, input[type=radio]:checked::before {
    display: block;
  }
  label[data-checked="true"] {
    input[type=radio]::before {
      display: block;
    }
  }
  .p-multiselect {
    font-size: $input-text-fs;
    border-radius: 0;
    background:$input-text-bg;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $input-text-border;
    box-shadow: none;
    width: 100%;

    &:focus-within {
      outline: none;
      border-bottom: 1px solid $input-text-border-hover;
    }
    .p-multiselect-label {
      padding: .75rem;
      &.p-placeholder {
        color: $text-color-secondary
      }
    }
    .p-multiselect-trigger {
      width: 2.5rem;
      .p-multiselect-trigger-icon {
        color: $text-color-secondary;
        font-size: .75rem;
      }
    }
  }
  .w-100 { width: 100px; }
  .short { width: 33%; }
  .medium { width: 66%; }
  .long { width: 100%; }
  .next-to-each-other {
    display: flex;
    gap: 1rem;
  }
  .yes-no-radio {
    fieldset.formkit-fieldset {
      border: 0;
      padding: 0;
    }
    .formkit-options {
      display: flex;
      padding: .5rem 0 0 0;
      .formkit-option:nth-child(2n) {
        margin-left: 10%;
      }
    }
  }
  .formkit-wrapper, .formkit-fieldset {
    max-width: 100%;
  }
  .title {
    margin: .25rem 0;
  }
  .subtitle {
    display: block;
    padding-bottom: 1rem;
    .form-field-label {
      h5 {
        font-size: $fs-base;
      }
    }
  }
  .form-field-label {
    display: flex;
    align-items: center;
    .info-icon {
      margin-left: .5rem;
    }
    button {
      margin-left: auto;
    }
    h5 {
      margin: .5rem 0;
    }
  }
  p {
    margin: .25rem;
  }
  .p-calendar {
    width: 100%;
    .p-button {
      margin: 0;
    }
  }
  .productionSiteSection {
    border: 1px solid $input-text-border;
    padding: 1rem;
    border-radius: .5rem;
    margin: 2rem 0;
    position: relative;
    .close-section {
      position: absolute;
      right: -15px;
      left: auto;
      top: -15px;
      background: white;
      border: 1px solid;
      border-radius: 50%;
      text-align: center;
      display: flex;
      padding: 3px;
      cursor: pointer;
    }
  }
  .formFields {
    background: $upload-form-bg;
    border-radius: $upload-form-radius;
    padding: $upload-form-padding;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  .formkit-message {
    &[data-message-type="ui"] {
      text-align: center;
      width: 100%;
      padding: 2rem;
      border: 1px solid $input-error;
    }
  }
  .hidden-input {
    .formkit-wrapper {
      visibility: hidden;
      height: 0;
    }
  }
  .form-list-item {
    color: $input-label-color;
    background: $el-list-item-bg;
    font-size: $fs-sm;
    font-weight: $fw-semibold;
    margin: $spacing-xxxs;
    text-align: center;
    min-width: 1.5rem;
    border-radius: 1rem;
    padding: .25rem 1rem;
    border: 1px solid $input-label-color;
    display: inline-flex;
    align-items: center;
    em {
      margin-left: .5rem;
      cursor: pointer;
      &:hover {
        color: darken($input-label-color, 20%);
      }
    }
  }
  .uploadFormSection {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .form-field:not(:last-child) {
      margin: 0 0 1rem 0;
      padding: 0 0 1rem 0;
      border-bottom: 1px solid $input-separator;
    }
  }
  .uploaded-files {
    .p-progressbar {
      display: none;
    }
    .p-fileupload {
      .p-fileupload-content {
        border: none;
        padding: 0;
        align-items: center;
        .file-upload-item {
          margin: 2rem 0;
        }
        button {
          margin-left: auto;
          width: 25px;
          height: 25px;
          padding: 0;
        }
      }
    }
  }
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #f6f5ef;
  width: 20px;
  height: 20px;
  color: #1b1b1b;
  border-radius: 0;
  transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: .2s;
  color: #fff;
  font-size: 14px
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #e67f3f;
  background: #e67f3f
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #e67f3f
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #cb6b29;
  background: #cb6b29;
  color: #fff
}
