@use 'sass:color';
@use '../colors';
@use '../units';
@use '../variables';

.input-group {
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
}
form {
  text-align: left;
  [data-type='text'],
  [data-type='select'],
  [data-type='number'],
  [data-type='textarea'] {
    .formkit-inner {
      font-size: units.$input-text-fs;
      border-radius: 0;
      background: colors.$input-text-bg;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: colors.$input-text-border;
      box-shadow: none;
      &:focus-within {
        outline: none;
        border-bottom: 1px solid colors.$input-text-border-hover;
      }
      .formkit-input {
        line-height: normal;
      }
    }
  }
  .formkit-decorator {
    display: none;
  }
}

input {
  font-family: variables.$ibm-plex-sans;
  font-size: units.$input-text-fs;
  &[type='submit'],
  &[type='reset'] {
    border-radius: variables.$radius-none;
  }
}

input[type='checkbox'],
input[type='radio'] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
  background-color: colors.$input-text-bg;
  border: 3px solid colors.$input-text-border-hover;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    content: '';
    width: 5px;
    height: 10px;
    border: solid colors.$input-text-border-hover;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
  }

  &:checked::before {
    display: block;
  }
}

.checkbox-error {
  color: #ee1a1a;
}

.p-inputtext {
  font-family: variables.$ibm-plex-sans;
  color: colors.$input-text-color;
  background: colors.$input-text-bg;
  padding: variables.$spacing-xs;
  border: 0;
  margin: 0;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: variables.$radius-none;
  &:enabled:hover {
    border-color: colors.$input-text-border-hover;
  }
  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #bfd1f6;
    border-color: colors.$input-text-border-hover;
  }
  &.p-invalid.p-component {
    border-color: #ced4da #ced4da #ced4da #e4677e;
  }
  &.p-inputtext-sm {
    font-size: variables.$fs-sm;
    padding: variables.$spacing-xxs;
  }
  &.p-inputtext-lg {
    font-size: variables.$fs-lg;
    padding: variables.$spacing-xs;
  }
}

.p-radiobutton {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  &:enabled:focus {
    outline: 0 none;
  }
}

.p-dropdown {
  background: colors.$input-text-bg;
  .p-dropdown-trigger {
    background: transparent;
    color: variables.$brown-dark;
    width: 2.357rem;
  }
}

.outline-dropdown {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: colors.$outline-dropdown-border;
  border-radius: 8px;
  .p-inputtext {
    background: transparent;
  }
}

.fill-dropdown {
  background: variables.$white;
  border-width: 2px;
  border-style: solid;
  border-color: colors.$fill-dropdown-bg;
  border-radius: 8px;
  &.always-fill {
    background: colors.$fill-dropdown-bg;
    color: variables.$white;
    .p-inputtext {
      color: variables.$white;
    }
    .p-dropdown-trigger {
      color: variables.$white;
    }
  }
  &.p-inputwrapper-filled {
    background: colors.$fill-dropdown-bg;
    color: variables.$white;
    .p-inputtext {
      color: variables.$white;
    }
    .p-dropdown-trigger {
      color: variables.$white;
    }
  }
  &.p-overlay-open {
    background: colors.$fill-dropdown-hover-bg;
    .p-inputtext {
      color: colors.$fill-dropdown-hover-text;
    }
    .p-dropdown-trigger {
      color: colors.$fill-dropdown-hover-text;
    }
  }
  &.p-focus {
    .p-inputtext {
      outline-width: 0;
    }
  }
  .p-inputtext {
    background: transparent;
    padding: 0.5rem 0.75rem;
    color: colors.$fill-dropdown-hover-text;
  }
  .p-dropdown-trigger {
    color: colors.$fill-dropdown-hover-text;
  }
}

.p-dropdown-panel {
  background: variables.$white;
  .p-dropdown-items {
    .p-dropdown-item {
      margin: 0;
      padding: 0.5rem 1rem;
      border: 0.1em solid colors.$dropdown-options-bg;
      color: colors.$input-text-color;
      background: transparent;
      transition:
        background-color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 0;
      &:not(.p-highlight):not(.p-disabled):hover {
        background: colors.$dropdown-options-bg;
      }
      &.p-highlight {
        color: colors.$input-text-bg;
        background: colors.$input-text-border-hover;
      }
    }
  }
}

.p-dropdown-clear-icon {
  position: relative;
  margin: auto;
}

.p-datepicker {
  padding: 0.5rem;
  background: colors.$card-background;
  color: colors.$card-text;
  border-radius: 0;
  &:not(.p-datepicker-inline) {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .p-datepicker-header {
    padding: 0.5rem;
    font-weight: units.$semi-bold-weight;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
    .p-datepicker-prev,
    .p-datepicker-next {
      width: 2rem;
      height: 2rem;
      color: #6c757d;
      border: 0 none;
      background: transparent;
      border-radius: 50%;
      transition:
        background-color 0.2s,
        color 0.2s,
        box-shadow 0.2s;
      &:enabled:hover {
        background: #e9ecef;
      }
      &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #bfd1f6;
      }
    }
    .p-datepicker-title {
      line-height: 2rem;
      .p-datepicker-year,
      .p-datepicker-month {
        font-size: units.$input-text-fs;
        font-weight: units.$light-bold-weight;
        &:enabled:hover {
          color: colors.$main-color;
        }
      }
      .p-datepicker-month {
        margin-right: 0.5rem;
      }
    }
  }
  .p-yearpicker,
  .p-monthpicker {
    margin: 1rem 0;
    .p-yearpicker-year,
    .p-monthpicker-month {
      padding: 0.5rem;
      &.p-highlight {
        color: colors.$btn-primary-color;
        background: colors.$btn-primary-bg;
      }
      &:not(.p-disabled):not(.p-highlight):hover {
        background: variables.$gray-light;
      }
    }
  }
  table {
    margin: 0.5rem 0;
    th {
      padding: 0.5rem;
      span {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    td {
      padding: 0.5rem;
      span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        transition:
          background-color 0.2s,
          border-color 0.2s,
          box-shadow 0.2s;
        border: 1px solid transparent;
        &.p-highlight {
          color: colors.$btn-primary-color;
          background: colors.$btn-primary-bg;
          &:hover {
            color: colors.$btn-primary-color;
            background: colors.$btn-primary-bg;
          }
        }
        &:hover {
          background: variables.$gray-light;
        }
        &.p-disabled {
          opacity: 0.3;
        }
      }
      &.p-datepicker-today > span {
        background: variables.$gray-light;
        color: variables.$full-dark;
      }
    }
  }
  .p-datepicker-buttonbar {
    padding: 1rem 0;
    border-top: 1px solid #dee2e6;
  }
}

.p-multiselect-panel {
  background: colors.$bg-text-primary;
  color: colors.$main-text-color;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  .p-multiselect-header {
    padding: 0.5rem 1rem;
    .p-multiselect-filter-icon {
      right: 0.5rem;
    }
    .p-checkbox {
      margin-right: 0.5rem;
      &::after {
        content: 'Select All';
        margin-left: 0.5rem;
        z-index: -2;
      }
    }

    .p-multiselect-close-icon {
      &::before {
        display: none;
      }
    }
  }
  .p-multiselect-items {
    padding: 0.5rem 0;
    .p-multiselect-empty-message {
      margin-left: 1.25rem;
    }
    .p-multiselect-item {
      padding: 0.5rem 1rem;
      &.p-highlight {
        color: colors.$bg-text-primary;
        background: colors.$main-color;
      }
      &:not(.p-highlight):not(.p-disabled):hover {
        background: colors.$input-text-bg;
      }
      .p-checkbox {
        margin-right: 0.5rem;
      }
    }
  }
}

.p-inputswitch {
  width: 2.1rem;
  height: 1.2rem;
  .p-inputswitch-slider {
    background: colors.$inputswitch-slider-bg-off;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 30px;
    &::before {
      background: colors.$bg-text-primary;
      width: 1rem;
      height: 1rem;
      margin-top: -0.5rem;
      border-radius: 50%;
      transition-duration: 0.2s;
    }
  }
  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background: colors.$inputswitch-slider-bg;
      &::before {
        background: colors.$bg-text-primary;
        transform: translateX(1rem);
      }
    }
  }
}

.p-inputswitch-singlecolor {
  width: 2.1rem;
  height: 1.2rem;
  .p-inputswitch-slider {
    background: colors.$inputswitch-singlecolor-slider-bg;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 30px;
    &::before {
      background: colors.$bg-text-primary;
      width: 1rem;
      height: 1rem;
      margin-top: -0.5rem;
      border-radius: 50%;
      transition-duration: 0.2s;
    }
  }
  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background: colors.$inputswitch-singlecolor-slider-bg;
      &::before {
        background: colors.$bg-text-primary;
        transform: translateX(1rem);
      }
    }
  }
}

.p-tooltip {
  .p-tooltip-text {
    background: colors.$input-label-color;
    color: colors.$bg-text-primary;
    padding: 0.5rem;
    border-radius: 0;
    width: max-content;
    max-width: 300px;
  }
  &.p-tooltip-right .p-tooltip-arrow {
    border-right-color: colors.$input-label-color;
  }
  &.p-tooltip-left .p-tooltip-arrow {
    border-left-color: colors.$input-label-color;
  }
  &.p-tooltip-top .p-tooltip-arrow {
    border-top-color: colors.$input-label-color;
  }
  &.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: colors.$input-label-color;
  }
}
.d-nace-textinput {
  width: 33%;
  border-radius: 0;
  background: colors.$input-text-bg;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: colors.$input-text-border;
  box-shadow: none;
}
.formListSection {
  border: 1px solid colors.$input-text-border;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
  position: relative;
  .close-section {
    position: absolute;
    right: -15px;
    left: auto;
    top: -15px;
    background: white;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    display: flex;
    padding: 3px;
    cursor: pointer;
  }
}
.uploadFormWrapper {
  input[type='checkbox'],
  input[type='radio'] {
    display: grid;
    place-content: center;
    margin: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin-right: 10px;
  }
  input[type='checkbox'] {
    background-color: colors.$input-text-bg;
    border: 2px solid colors.$input-checked-color;
    border-radius: 2px;
  }
  input[type='checkbox']:not(.p-radiobutton):checked {
    background-color: colors.$input-checked-color;
  }
  input[type='radio'],
  input.p-radiobutton {
    background-color: white;
    border: 2px solid colors.$input-label-color;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
  }
  input.p-radiobutton:hover,
  input.p-radiobutton:active,
  input.p-radiobutton:checked {
    border: 3px solid colors.$input-label-color;
  }
  input[type='checkbox']::before,
  input[type='radio']::before {
    content: '';
    width: 5px;
    height: 7px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-top: -2px;
    display: none;
  }
  input[type='checkbox']::before {
    border-style: solid;
    border-color: colors.$input-text-bg;
  }
  input[type='radio']::before,
  input.p-radiobutton::before {
    border-style: solid;
    border-color: colors.$input-label-color;
  }
  input[type='checkbox']:checked::before,
  input[type='radio']:checked::before {
    display: block;
  }
  label[data-checked='true'] {
    input[type='radio']::before,
    input.p-radiobutton::before {
      display: block;
    }
  }
  .p-multiselect {
    font-size: units.$input-text-fs;
    border-radius: 0;
    background: colors.$input-text-bg;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: colors.$input-text-border;
    box-shadow: none;
    width: 100%;

    &:focus-within {
      outline: none;
      border-bottom: 1px solid colors.$input-text-border-hover;
    }
    .p-multiselect-label {
      padding: 0.75rem;
      &.p-placeholder {
        color: colors.$text-color-secondary;
      }
    }
    .p-multiselect-trigger {
      width: 2.5rem;
      .p-multiselect-trigger-icon {
        color: colors.$text-color-secondary;
        font-size: 0.75rem;
      }
    }
  }
  .w-100 {
    width: 100px;
  }
  .short {
    width: 33%;
  }
  .medium {
    width: 66%;
  }
  .long {
    width: 100%;
  }
  .shortish-hard {
    width: 45%;
    min-width: 45%;
    max-width: 45%;
  }
  .normal-line-height {
    line-height: normal;
  }
  .no-selection .p-dropdown-label {
    color: #767676;
  }
  .yes-no-radio {
    fieldset.formkit-fieldset {
      border: 0;
      padding: 0;
    }
    .formkit-options {
      display: flex;
      padding: 0.5rem 0 0 0;
      .formkit-option:nth-child(n + 2) {
        margin-left: 10%;
      }
    }
  }
  .formkit-wrapper,
  .formkit-fieldset {
    max-width: 100%;
  }
  .title {
    margin: 0.25rem 0;
  }
  .subtitle {
    display: block;
    padding-bottom: 1rem;
    .form-field-label {
      h5 {
        font-size: variables.$fs-base;
      }
    }
  }
  .form-field-label {
    display: flex;
    align-self: center;
    .info-icon {
      margin-left: 0.5rem;
    }
    button {
      margin-left: auto;
    }
    h5 {
      margin: 0.5rem 0;
    }
    .asterisk {
      color: #ee1a1a;
    }
    .asterisk:before {
      content: ' ';
      display: inline-block;
      width: 0.25rem;
    }
  }
  .middle-next-to-field {
    display: flex;
    align-self: center;
    padding-bottom: 1rem;
  }
  p {
    margin: 0.25rem;
  }
  .p-calendar {
    width: 100%;
    .p-button {
      margin: 0;
    }
  }
  .formFields {
    background: colors.$upload-form-bg;
    border-radius: units.$upload-form-radius;
    padding: units.$upload-form-padding;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  .formkit-message {
    &[data-message-type='ui'] {
      text-align: center;
      width: 100%;
      padding: 2rem;
      border: 1px solid colors.$input-error;
    }
  }
  .hidden-input {
    .formkit-wrapper {
      visibility: hidden;
      height: 0;
    }
  }
  .form-list-item {
    color: colors.$input-label-color;
    background: colors.$el-list-item-bg;
    font-size: variables.$fs-sm;
    font-weight: variables.$fw-semibold;
    margin: variables.$spacing-xxxs;
    text-align: center;
    min-width: 1.5rem;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    border: 1px solid colors.$input-label-color;
    display: inline-flex;
    align-items: center;
    em {
      margin-left: 0.5rem;
      cursor: pointer;
      &:hover {
        color: color.adjust(colors.$input-label-color, $lightness: -20%);
      }
    }
  }
  .uploadFormSection {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .form-field:not(:last-child) {
      margin: 0 0 1rem 0;
      padding: 0 0 1rem 0;
      border-bottom: 1px solid colors.$input-separator;
    }
  }
  .uploaded-files {
    .p-progressbar {
      display: none;
    }
    .p-fileupload {
      .p-fileupload-content {
        border: none;
        padding: 1rem;
        align-items: center;
        .file-upload-item {
          margin: 1rem 0;
        }
        button {
          margin-left: auto;
          width: 25px;
          height: 25px;
          padding: 0;
        }
      }
    }
  }
}
.no-ui-message {
  [data-message-type='ui'] {
    display: none;
  }
}
.next-to-each-other {
  display: flex;
  gap: 1rem;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #f6f5ef;
  width: 20px;
  height: 20px;
  color: #1b1b1b;
  border-radius: 0;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #fff;
  font-size: 14px;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #e67f3f;
  background: #e67f3f;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #e67f3f;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #cb6b29;
  background: #cb6b29;
  color: #fff;
}

.button-disabled {
  opacity: 0.4;
  background: colors.$btn-primary-bg !important;
  border: 0 !important;
}

.bordered-box {
  border: 2px dotted colors.$input-separator;
  border-radius: units.$upload-form-radius;
  padding: 16px;
}

.p-radiobutton-box {
  border: 2px solid #ced4da;
  background: #f6f5ef;
  width: 20px;
  height: 20px;
  color: #1b1b1b;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  &:not(.p-disabled) {
    &.p-focus {
      border-color: colors.$btn-primary-bg;
    }
    &:not(.p-highlight) {
      &:hover {
        border-color: colors.$btn-primary-bg;
      }
    }
  }
  &.p-radiobutton-icon {
    width: 12px;
    height: 12px;
    transition-duration: 0.2s;
    background-color: #fff;
  }
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #e67f3f;
  background: #e67f3f;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: #cb6b29;
  background: #cb6b29;
  color: #fff;
}
.p-radiobutton.p-invalid > .p-radiobutton-box {
  border-color: #ced4da #ced4da #ced4da #e4677e;
}
.p-radiobutton:focus {
  outline: 0 none;
}
.p-input-filled .p-radiobutton .p-radiobutton-box {
  background-color: #f8f9fa;
}
.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
  background-color: #f8f9fa;
}
.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
  background: #e67f3f;
}
.header-separator,
p.header-separator {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-top: 1px solid #e0dfde;
}
.red-border {
  border: 1px solid colors.$input-error;
}
