.p-input-icon-left>em, .p-input-icon-right>em {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-input-icon-left > em:first-of-type {
  left: .5rem;
  color: $brown-dark
}

.p-input-icon-left {
  .p-inputtext {
    padding-left: 2rem;
    &.d-framework-searchbar-input {
      padding-left: 3rem;
    }
  }
}

.p-input-icon-right em:last-of-type {
  right: .5rem;
  color: $brown-dark
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2rem
}

.pi {
  font-size: $fs-base;
}

.p-rowgroup-header {
  .p-row-toggler-icon {
    font-size: $fs-xl;
    color: $main-color;
    &.pi-chevron-down { @include icon-override("\f182"); }
    &.pi-chevron-right { @include icon-override("\f181"); }
  }
}
