.p-menu {
  padding: 0.25rem 0;
  background: var(--surface-900);
  color: $menu-text-color;
  border: 1px solid #dee2e6;
  border-radius: 0;
  transform: translate(0, 1rem);
  width: 14.5rem;
  font-weight: $light-bold-weight;

  .p-menuitem-link {
    padding: 1rem;
    border-radius: 0;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
    user-select: none;

    &:not(.p-disabled):hover {
      background: #e9ecef;
    }

    .p-menuitem-icon {
      margin-right: 0.5rem;
    }
  }
}

.p-menu-white {
  padding: 0.25rem 0;
  background: $bg-text-primary;
  color: $main-text-color;
  border: 1px solid #dee2e6;
  border-radius: 0;
  transform: translate(0, 1rem);
  width: 14.5rem;
  font-weight: $light-bold-weight;

  .p-menuitem-link {
    padding: 1rem;
    border-radius: 0;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
    user-select: none;

    &:not(.p-disabled):hover {
      background: #e9ecef;
    }

    .p-menuitem-icon {
      margin-right: 0.5rem;
    }
  }
}

.jumpLinks {
  left: auto;
  right: 0;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0.5rem 0;

      a {
        color: $jumpLinks-color;
        text-decoration: none;

        &:hover {
          color: $jumpLinks-hover;
          cursor: pointer;
        }
      }
    }
  }
}
