.d-framework-searchbar-input-icon {
  padding-left: 0.75rem !important;
}

.d-framework-searchbar-panel {
  max-height: 500px !important; // TODO this is a duplicate! there is already d-framework-searchbar-panel in form.scss
}

.p-autocomplete-loader {
  color: #e67f3f;
  right: 0.5rem;
}
