:root {
  --p-tabs-tablist-border-width: 0;
  --p-tabs-tab-hover-border-color: var(--gray);
  --p-tabs-tab-hover-color: var(--gray);
}

.p-tabs {
  padding: 0;
  margin: 0;
}

.p-tablist, .p-tablist-content, .p-tablist-tab-list {
  background: var(--default-neutral-white);
  border: 0;
  padding: 0;
  margin :0;

  .p-tab {
    border: 0 solid transparent;
    border-bottom: 2px solid var(--default-neutral-white);
    background: var(--default-neutral-white);
    color: var(--gray);
    padding: 1.25rem 0;
    margin: 0 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    white-space: nowrap;
    white-space-collapse: collapse;
    transition: box-shadow 0.2s;

    &:not(.p-tab-active):hover {
      background: var(--default-neutral-white);
      border-color: var(--gray-light);
      color: var(--gray);
    }

    &.p-tab-active {
      background: var(--default-neutral-white);
      border-color: var(--main-color);
      color: var(--main-color);
    }
  }
}
