@use '../colors';
@use '../variables';

:root {
  --p-tabs-tablist-border-width: 0;
  --p-tabs-tab-hover-border-color: variables.$gray;
  --p-tabs-tab-hover-color: variables.$gray;
}

.p-tabs {
  padding: 0;
  margin: 0;
}

.p-tablist, .p-tablist-content, .p-tablist-tab-list {
  background: variables.$white;
  border: 0;
  padding: 0;
  margin :0;

  .p-tab {
    border: 0 solid transparent;
    border-bottom: 2px solid variables.$white;
    background: variables.$white;
    color: variables.$gray;
    padding: 1.25rem 0;
    margin: 0 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    white-space: nowrap;
    white-space-collapse: collapse;
    transition: box-shadow 0.2s;

    &:not(.p-tab-active):hover {
      background: variables.$white;
      border-color: variables.$gray-light;
      color: variables.$gray;
    }

    &.p-tab-active {
      background: variables.$white;
      border-color: colors.$main-color;
      color: colors.$main-color;
    }
  }
}
