---
interface Props {
  title: string;
  text: string;
  class?: string;
}

const { title, text, class: className } = Astro.props;
---

<div class:list={['flex flex-col gap-1.5 border-l-[3px] border-[var(--color-primary)] pl-4', className]}>
  <h3 class="m-0 text-[1rem] font-bold text-white">{title}</h3>
  <p class="card-text text-white/74">{text}</p>
</div>
