version: "3.3"
services:
  proxy:
    restart: always
    networks:
      - external
      - internal
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./dataland-inbound-proxy/nginx.conf:/etc/nginx/nginx.conf
  backend:
    restart: always
    image: eclipse-temurin:17.0.2_8-jre-alpine
    volumes:
      - ./jar:/jar
    command: ["java","-jar","/jar/dataland-backend.jar"]
    networks:
      - internal
    expose:
      - "8080"
    environment:
      SKYMINDER_URL: ${SKYMINDER_URL}
      SKYMINDER_USER: ${SKYMINDER_USER}
      SKYMINDER_PW: ${SKYMINDER_PW}
  frontend:
    restart: always
    image: nginx:stable-alpine
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./dataland-frontend/default.conf:/etc/nginx/conf.d/default.conf
    expose:
      - "80"
    networks:
      - internal

networks:
  internal:
  external: