// buttons
$btn-primary-color: $white;
$btn-primary-bg: $orange-prime;
$btn-disabled-color: $gray;
$btn-focus-border-color: $blue-light;


// typography
$text-color-secondary: $gray;
$text-color-third: $brown-light;
$input-text-color: $brown-dark;
$input-text-bg: $surface-ground;
$input-text-border-hover: $orange-prime;
$input-error: $red;

//cards
$card-background: $paper-white;
$card-text: $brown-dark;
