@import "@/assets/scss/variables";
@import "@/assets/scss/colors";
@import "@/assets/scss/theme";
@import "@/assets/scss/components/index";

body {
  font-family: $ibm-plex-sans;
  font-size: $fs-base;
  font-weight: $fw-medium;
}