// THIS FILE IS TARGETED TO BE REMOVED WHEN ALL VARIABLES DEFINED BECOME UNNECESSARY

:root {
  //PRIMARY COLOR PALETTE
  --brown: var(--p-stone-800);
  --brown-light: var(--p-stone-600);
  --brown-lighter: var(--p-stone-400);
  --gray: var(--p-gray-600);
  --gray-light: var(--p-gray-100);
  --gray-lighter: var(--p-gray-50);
  --paper-white: var(--p-neutral-50);
  --default-neutral-white: #fff;
  --grey-tones-100: #f6f6f6;
  --grey-tones-300: #c0c0c0;
  --grey-tones-400: #a5a5a5;
  --grey-tones-600: #737373;
  --grey-tones-700: #5b5b5b;
  --grey-tones-900: #2f2f2f;
  --green: #4bb917;
  --red: #ee1a1a;
  --surface-ground: #f6f5ef;

  // BRAND COLORS
  --text-color: var(--p-primary-contrast-color);
  --text-color-secondary: var(--brown);
  --text-color-third: var(--brown-light);
  --primary-color: var(--p-primary-color);
  --primary-color-text: var(--paper-white);
  --secondary-color: var(--p-blue-950);
  --secondary-color-text: var(--paper-white);

  --content-padding: 1rem;
  --inline-spacing: 0.5rem;
  --border-radius: 0;
  --surface-card: #ffffff;
  --surface-hover: #e9ecef;
  --maskbg: rgba(0, 0, 0, 0.4);
}
