//forms
$input-text-fs: $fs-base;
$input-padding-fs: $spacing-xs;
$input-label-fs: $fs-xs;
$button-fs: $fs-base;
$button-fw: $fw-semibold;

//typography
$normal-weight: $fw-normal; // 400
$light-bold-weight: $fw-medium; // 500
$semi-bold-weight: $fw-semibold // 600



