/*=============================================
    #Variables
=============================================*/

/*=====  Colors  ======*/
$orange-prime: #e67f3f;
$orange-prime-dark: #cc7139;
$blue-light: #a1c5d3;
$aquamarine-dark: #013d48;
$full-dark: #0b191f; //replace with aquamarine-dark
$brown-dark: #1b1b1b;  //stone 900
$brown: #292219; //stone 800
$brown-light: #5a4f36; //stone 600
$brown-lighter: #958d7c; // stone 400
$gray: #6c757d; // gray 600
$gray-light: #e0dfde; // gray 200
$gray-lighter: #f5f5f5; // gray 100
$paper-white: #f7f9fa; // neutral 50
$red: #ee1a1a;
$green: #4bb917;

$surface-ground: #f6f5ef;

/*=====  Typography  ======*/

$ibm-plex-sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

/* Font sizes */
$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem; // 16px
$fs-lg: 1.125rem; // 18px
$fs-xl: 1.5rem; // 24px
$fs-xxl: 2rem; // 32px

/* line-height */
$line-height-1: 1rem;

/* Font weights */
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

/*=====  Spacing  ======*/

$spacing-xxxs: 0.25rem; // 4px
$spacing-xxs: 0.5rem; // 8px
$spacing-xs: 0.75rem; // 12px
$spacing-sm: 1rem; // 16px
$spacing-md: 1.5rem; // 24px

/*=====  radius  ======*/

$radius-none: 0rem;
$radius-xxxs: 0.25rem; // 4px
$radius-xxs: 0.5rem; // 8px
$radius-lg: 2rem; // 32px

