name: "Download Image Versions"
description: "Download Image Versions and make them available as env-vars"

runs:
  using: "composite"
  steps:
    - name: Download Image Versions
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
      with:
        pattern: dockerImageVersions-*
        merge-multiple: true
    - name: Make Image Versions Available
      shell: bash
      run: cat ./*github_env.log >> $GITHUB_ENV
