name: "Download Image Versions"
description: "Download Image Versions and make them available as env-vars"

runs:
  using: "composite"
  steps:
    - name: Download Image Versions
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      with:
        pattern: dockerImageVersions-*
        merge-multiple: true
    - name: Make Image Versions Available
      shell: bash
      run: cat ./*github_env.log >> $GITHUB_ENV
