---
import LegalPage from '../layouts/LegalPageLayout.astro';
import Base from '../layouts/Base.astro';
---

<Base title="Pricing — Dataland">
  <LegalPage>
    <div class="legal-page">
      <p>
        Während der Ramp-Up Phase werden keine Gebühren entstehen oder Vergütungen ausgeschüttet, nach dieser Phase wird
        eine Preis- und Vergütungsstaffel eingeführt.
      </p>
    </div>
  </LegalPage>
</Base>
