html {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

input button {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.d-dataland-logo {
  height: 16px;
}

.d-primary-login-width {
  width: 364px;
}
