.d-success-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  background: #4BB917;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  text-align: left;
}