$password-strength-color-red: #EE1A1A;
$password-strength-color-yellow: #FBC02D;
$password-strength-color-green: #4BB917;

.d-password-strength-empty {
  width: 0;
}

.d-password-strength-too-short {
  width: 5%;
  background: $password-strength-color-red;
}

.d-password-strength-0 {
  width: 10%;
  background: $password-strength-color-red;
}

.d-password-strength-1 {
  width: 15%;
  background: $password-strength-color-red;
}

.d-password-strength-2 {
  width: 33%;
  background: $password-strength-color-yellow;
}

.d-password-strength-3 {
  width: 66%;
  background: $password-strength-color-green;
}

.d-password-strength-4 {
  width: 100%;
  background: $password-strength-color-green;
}

.d-progressbar {
  height: 0.25rem;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;

  .d-progressbar-value {
    height: 100%;
    position: absolute;
    border: 0 none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 1s ease-in-out;
  }
}
