.p-tfa-list {
  list-style-position: inside;
}

.p-tfa-spaced-list-item {
  line-height: 200%;
}

ol > li::marker {
  content: "Step "counter(list-item);
  font-size: 1.2rem;
}

.p-tfa-no-markers {
 list-style-type:none;
}

.p-tfa-instruction-box {
  width: 463px;
  border: 1px solid #E0DFDE;
  border-radius: 4px
}

.p-tfa-text-devicename {
  color: #958D7C;
}

.p-tfa-input-field {
  border-bottom: 1px solid #958D7C !important;
}

.p-tfa-input-wrapper {
  width: 364px;
}

.p-tfa-asterisk-red {
  color: #EE1A1A;
}

.p-tfa-button {
  font-size: 0.65rem;
  font-weight: 600;
}