.p-tfa-body {
  text-align: left;
  background: #F7F9FA;
}

.p-tfa-ordered-list > li::before {
  content: "Step "counter(Li-count);
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.p-tfa-ordered-list-item {
  line-height: 130%;
  display: flex;
  counter-increment: Li-count 1;
}

.p-tfa-unordered-list {
  list-style-type:none;
}

.p-tfa-unordered-list-with-linebreak {
 list-style-type:none;
  line-height: 200%;
}

.p-tfa-instruction-box {
  width: 463px;
  border: 1px solid #E0DFDE;
  border-radius: 4px
}

.p-tfa-instruction-box-remove-border-top {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.p-tfa-instruction-box-remove-border-bottom {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.p-tfa-input-width-limit {
  width: 364px;
}

.p-tfa-text-asterisk-red {
  color: #EE1A1A;
}

.p-tfa-text-devicename-color {
  color: #958D7C;
}

.p-tfa-text-one-time-code-title-size {
  font-size: 1.3125rem;
}

.p-tfa-button-back {
  border: none;
  background: none;
}
