<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DATALAND</title>
  </head>
<!--  <style> td {border:1px solid red;}</style>-->
<body style="background-color:#dadada; height: 100%; margin: 0; padding: 0; width: 100%;">
<table id="header" style="background-color: #ffffff; width: 600px; border: 0 solid #e3e3e3; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align: left; border-collapse: collapse; padding: 0; margin: 0"><tbody>
	<tr style="background-color: #ffffff;">
		<td style="text-align: left; width: 40px; padding: 0">
			<img src="images/wr1.png" width="15" height="14" alt="" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;">
		</td>
		<td style="text-align: right; width: 520px; padding: 0">
			&nbsp;
		</td>
		<td style="text-align: right; width: 40px; padding: 0">
			<img src="images/wr2.png" width="15" height="14" alt="" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;">
		</td>
	</tr>
	<tr style="background-color: #ffffff;">
		<td></td>
		<td style="color: #FF6813FF; font-size: 18px; font-weight: bold; text-align: left; padding:0; margin:0; border: 0;">
			<a href="https://dataland.com" target="_blank" style="border: 0 none; text-decoration: none; color: #FF6813FF;">
				<img src="images/logo.png" width="145" height="21" alt="DATALAND" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;">
			</a>
		</td>
		<td></td>
	</tr>
	<tr style="background-color: #ffffff;">
		<td></td>
		<td style="border-bottom: 1px solid #dadada; height: 20px">&nbsp;</td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3" style="height: 20px">&nbsp;</td>
	</tr>
</tbody>
</table>

	<table style="background-color: #ffffff; width: 600px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align: left; border-collapse: collapse; padding: 0; margin: 0">
		<tbody>
	<tr>
		<td rowspan="17" style="width: 40px">&nbsp;</td>
		<td style="width: 520px">&nbsp;</td>
		<td rowspan="17" style="width: 40px">&nbsp;</td>
	</tr>
	<tr>
		<td style="height: 20px">&nbsp;</td>
	</tr>
	<tr>
		<td>Hello Anna,</td>
	</tr>
	<tr>
		<td style="height: 20px">&nbsp;</td>
	</tr>
	<tr>
		<td>As part of ourLkSG-campaign, you have a data request:</td>
	</tr>
	<tr>
		<td style="font-size: 5px; height: 5px">&nbsp;</td>
	</tr>
			<tr>
			<td>
				<table style="background-color: #f6f6f6; border-collapse: collapse; padding: 0; margin: 0; width: 520px">
					<tbody>
						<tr>
							<td rowspan="17" style="width: 20px">&nbsp;</td>
							<td colspan="3" style="width: 480px; height: 20px">&nbsp;</td>
							<td rowspan="17" style="width: 20px">&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 220px; padding:0; margin:0; border: 0;"><img src="images/leaf_icon.png" width="35" height="39" alt="framework" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;"></td>
							<td rowspan="3" style="width: 20px">&nbsp;</td>
							<td style="text-align: left; width: 220px; padding:0; margin:0; border: 0;"><img src="images/year_icon.png" width="35" height="39" alt="year" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;"></td>
						</tr>
						<tr>
							<td style="font-size: 28px; font-weight: bold;">LkSG</td>
							<td style="font-size: 28px; font-weight: bold;">2023</td>
						</tr>
						<tr>
							<td style="font-size: 18px;">Framework</td>
							<td style="font-size: 18px;">Reporting year</td>
						</tr>
						<tr>
							<td colspan="3" style="border-bottom:1px solid #e3e3e3; height: 20px">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3" style="height: 20px">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3">From:</td>
						</tr>
						<tr>
							<td colspan="3" style="font-size: 5px; height: 5px">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3" style="font-weight: bold;">ben.delver@nike.com</td>
						</tr>
						<tr>
							<td colspan="3" style="height: 20px">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3">Message:</td>
						</tr>
						<tr>
							<td colspan="3" style="font-size: 5px; height: 5px">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3" style="font-weight: bold;">Hello Anna! I would really appreciate if you could provide the data asap.</td>
						</tr>
						<tr>
							<td colspan="3" style="height: 20px">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="height: 40px">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="font-weight: bold;">What to do now?</td>
		</tr>
		<tr>
			<td colspan="3" style="font-size: 5px; height: 5px">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ol style="line-height: 25px;">
				<li>Unlock all your account features by <b>claiming ownership of your company.</b></li>
				<li><b>Provide your data.</b></li>
			</ol>
			</td>
		</tr>
	<tr>
		<td style="height: 20px">&nbsp;</td>
	</tr>
	<tr>
		<td style="background-color: #ffffff; text-align: center; padding:0; margin:0; border: 0; height: 54px">
			<a href="https://dataland.com" target="_blank" style="border: 0 none; color: #FF6813FF; font-size: 18px; text-decoration: none;">
				<img src="images/action_button.png" width="499" height="54" alt="CLAIM OWNERSHIP"
					 style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;">
			</a>
		</td>
	</tr>

		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
		<tr>
			<td>Claiming ownership process usually requires 1-2 business days.<br />
			You will be notified by email</td>
		</tr>
		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
	</tbody>
</table>

<table style="background-color: #f6f6f6; width: 600px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-align: left; border-collapse: collapse; padding: 0; margin: 0">
	<tbody>
		<tr>
			<td rowspan="11" style="width: 40px;">&nbsp;</td>
			<td style="width: 520px; height: 40px">&nbsp;</td>
			<td rowspan="11" style="width: 40px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="font-size: 28px; font-weight: bold">Why Dataland?</td>
		</tr>
		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
		<tr>
			<td><b>&bull; 1500+</b> owner verified companies</td>
		</tr>
		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
		<tr>
			<td><b>&bull; 5</b> ESG Frameworks. More to come</td>
		</tr>
		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
		<tr>
			<td><b>&bull; 3</b> Reporting periods starting from 2022</td>
		</tr>
		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
		<tr>
			<td style="color: #FF6813FF;"><a href="https://dataland.com" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #FF6813FF; text-decoration: none;">FIND OUT MORE </a>&#10132;</td>
		</tr>
		<tr>
			<td style="height: 20px">&nbsp;</td>
		</tr>
	</tbody>
</table>


<table style="background-color: #ffffff; width: 600px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-align: left; border-collapse: collapse; padding: 0; margin: 0">
	<tbody>
	<tr>
		<td rowspan="11" style="width: 40px;">&nbsp;</td>
		<td colspan="2" style="width: 520px; height: 20px">&nbsp;</td>
		<td rowspan="11" style="width: 40px;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" style="font-size: 28px; font-weight: bold">Why me?</td>
	</tr>
	<tr>
		<td colspan="2" style="height: 20px">&nbsp;</td>
	</tr>
	<tr>
		<td style="vertical-align: top"><b>&bull;&nbsp;</b></td>
		<td>Due to our GLEIF collaboration, your company is already in Dataland.<br />
			<span style="color: #FF6813FF;"><a href="https://dataland.com" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #FF6813FF; text-decoration: none;">CHECK IT HERE & CLAIM OWNERSHIP </a>&#10132;</span></td>

	</tr>
	<tr>
		<td style="height: 10px">&nbsp;</td>
	</tr>
	<tr>
		<td style="vertical-align: top"><b>&bull;&nbsp;</b></td>
		<td>Looks like your data are high on demand! Someone needs your data to make valuable decisions.</td>
	</tr>
	<tr>
		<td style="height: 10px">&nbsp;</td>
	</tr>
	<tr>
		<td style="vertical-align: top"><b>&bull;&nbsp;</b></td>
		<td>We need you in order to achieve our principles and mission.<br />
			<span style="color: #FF6813FF;"><a href="https://dataland.com" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #FF6813FF; text-decoration: none;">DISCOVER OUR PRINCIPLES </a>&#10132;</span></td>
	</tr>
	<tr>
		<td style="height: 40px">&nbsp;</td>
	</tr>
	</tbody>
</table>


<table id="footer" style="background-color: #1b1b1b; width: 600px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-align: left; border-collapse: collapse; padding: 0; margin: 0">
	<tbody>
	<tr>
		<td rowspan="14" style="width: 40px;"></td>
		<td colspan="3" style="width: 520px;">&nbsp;</td>
		<td rowspan="14" style="width: 40px;"></td>
	</tr>
	<tr>
		<td colspan="3" style="text-align: left; background-color: #1b1b1b;">
			<a href="https://dataland.com" target="_blank" style="border: 0 none; text-decoration: none; color: #FF6813FF;">
				<img src="images/dark_logo.png" width="195" height="33" alt="DATALAND" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;">
			</a></td>
	</tr>
	<tr>
		<td colspan="3" style="height: 40px">&nbsp;</td>
	</tr>
	<tr>
		<td style="color: #c0c0c0; width: 250px">Tech Hub</td>
		<td rowspan="9">&nbsp;</td>
		<td style="color: #c0c0c0; width: 250px">ESG Frameworks</td>
	</tr>
	<tr>
		<td colspan="3" style="height: 10px; font-size:10px">&nbsp;</td>
	</tr>
	<tr>
		<td><span style="color: #ffffff;"><a href="https://dataland.com/api/swagger-ui/index.html" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">DATASETS</a>&nbsp;&nbsp;&nearr;</span></td>
		<td><span style="color: #ffffff;"><a href="https://github.com/d-fine/Dataland/wiki/Data-Framework-Documentation" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">OVERVIEW</a>&nbsp;&nbsp;&nearr;</span></td>
	</tr>
	<tr>
		<td colspan="3" style="height: 10px; font-size:10px">&nbsp;</td>
	</tr>
	<tr>
		<td><span style="color: #ffffff;"><a href="https://dataland.com/documents/swagger-ui/index.html" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">DOCUMENTS</a>&nbsp;&nbsp;&nearr;</span></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3" style="height: 10px; font-size:10px">&nbsp;</td>
	</tr>
	<tr>
		<td><span style="color: #ffffff;"><a href="https://dataland.com/community/swagger-ui/index.html" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">REQUESTS</a>&nbsp;&nbsp;&nearr;</span></td>
		<td style="color: #c0c0c0">Follow Dataland</td>
	</tr>
	<tr>
		<td colspan="3" style="height: 10px; font-size:10px">&nbsp;</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<img src="images/linked_in.png" width="22" height="23" alt="in" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;">&nbsp;
			<a href="https://www.linkedin.com/company/dataland-gmbh/" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">LINKEDIN</a></td>
	</tr>
	<tr>
		<td colspan="3" style="border-bottom: 1px solid #c0c0c0; height: 10px; font-size:10px">&nbsp;</td>
	</tr>

	<tr>
		<td colspan="3" style="padding: 0">
			<table style="background-color: #1b1b1b; width: 520px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-align: left; border-collapse: collapse; padding: 0; margin: 0">
			<tbody>
			<tr>
				<td colspan="3" style="height: 20px">&nbsp;</td>
			</tr>
			<tr>
				<td><a href="https://dataland.com/terms" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">LEGAL</a></td>
				<td><a href="https://dataland.com/imprint" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">IMPRINT</a></td>
				<td><a href="https://dataland.com/dataprivacy" target="_blank" style="border: 0 none; font-weight: bolder; font-size: 17px; color: #ffffff; text-decoration: none;">DATA PRIVACY</a></td>
			</tr>
			<tr>
				<td colspan="3" style="height: 20px">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 20px"><span style="border: 0 none; font-size: 17px; color: #ffffff; text-decoration: none;">Copyright &copy; 2023 Dataland</span></td>
			</tr>
			</tbody>
		</table>
		</td>
	</tr>
	<tr>
		<td style="text-align: left; vertical-align: bottom; width: 40px; height: 17px; padding: 0; background-color: #1b1b1b"><img src="images/cr4.png" width="40" alt="" style="border: 0 none; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;"></td>
		<td colspan="3" style="text-align: right; width: 520px; height: 17px; background-color: #1b1b1b; padding: 0">
			&nbsp;
		</td>
		<td style="text-align: right; vertical-align: bottom; width: 40px; height: 17px; background-color: #1b1b1b; padding: 0"><img src="images/cr3.png" width="40" alt="" style="border: 0 none; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;"></td>
	</tr>
	</tbody>
</table>

</body>
</html>
