name: CD
run-name: Deploy to ${{ github.event.inputs.whichEnvironment }}

on:
  workflow_dispatch:
    inputs:
      resetStackAndRepopulate:
        description: 'Reset non-user related Docker Volumes & Re-populate'
        required: false
        type: boolean
      loadGleifGoldenCopy:
        description: 'Load the full GLEIF Golden Copy File into the database'
        required: false
        type: boolean
      loadNorthDataGoldenCopy:
        description: 'Load the full NorthData Golden Copy File into the database'
        required: false
        type: boolean
      ignoreExternalStorageError:
        description: 'Ignore errors due to external factors on startup of the external storage'
        required: false
        type: boolean
      whichEnvironment:
        description: "Choose environment"
        required: true
        type: environment

jobs:
  log-everything:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/workflows/logObjects
        name: log everything
        with:
          task: "log-everything"
          github: ${{ toJSON(github) }}
          env: ${{ toJSON(env) }}
          job: ${{ toJSON(job) }}
          steps: ${{ toJSON(steps) }}
          runner: ${{ toJSON(runner) }}
          strategy: ${{ toJSON(strategy) }}
          matrix: ${{ toJSON(matrix) }}
          needs: ${{ toJSON(needs) }}
          inputs: ${{ toJSON(inputs) }}
          vars: ${{ toJSON(vars) }}
  rebuild-docker-images:
    uses: ./.github/workflows/RebuildDockerImages.yaml
  upload-dataland-frontend-client:
    runs-on: ubuntu-latest
    needs:
      - rebuild-docker-images
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/workflows/logObjects
        name: log job contexts
        with:
          task: "upload-dataland-frontend-client"
          env: ${{ toJSON(env) }}
          job: ${{ toJSON(job) }}
          steps: ${{ toJSON(steps) }}
          strategy: ${{ toJSON(strategy) }}
          matrix: ${{ toJSON(matrix) }}
          needs: ${{ toJSON(needs) }}
          inputs: ${{ toJSON(inputs) }}
          vars: ${{ toJSON(vars) }}
      - name: Extract Frontend Client from E2Etest Image
        run: |
          mkdir -p ./dataland-frontend/ 
          docker run --rm --entrypoint cp -v $(pwd):/hostdir ghcr.io/d-fine/dataland/dataland_e2etests:${{ needs.rebuild-docker-images.outputs.dataland_e2tests_version }} -r /app/dataland-frontend/build/ /hostdir/dataland-frontend
      - name: Store generated frontend API clients for use by cypress
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: frontendClients
          path: ./dataland-frontend/build/clients/
  merge-artefacts:
    runs-on: ubuntu-latest
    needs:
      - e2e-tests
    steps:
      - name: Merge Docker Image Artifacts
        uses: actions/upload-artifact/merge@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: dockerImageVersions
          pattern: dockerImageVersions-*
          delete-merged: true
      - name: Merge Parameter Artifacts
        uses: actions/upload-artifact/merge@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: parameters
          pattern: parameters-*
          delete-merged: true
      - name: Merge Cypress Artifacts
        uses: actions/upload-artifact/merge@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: cypress
          pattern: cypress-*
          delete-merged: true
  deploy-to-server-with-latest-built-images:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.whichEnvironment }}
    needs:
      - rebuild-docker-images
    env:
      ENVIRONMENT: ${{ github.event.inputs.whichEnvironment }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/workflows/logObjects
        name: log job contexts
        with:
          task: "deploy-to-server-with-latest-built-images"
          env: ${{ toJSON(env) }}
          job: ${{ toJSON(job) }}
          steps: ${{ toJSON(steps) }}
          strategy: ${{ toJSON(strategy) }}
          matrix: ${{ toJSON(matrix) }}
          needs: ${{ toJSON(needs) }}
          inputs: ${{ toJSON(inputs) }}
          vars: ${{ toJSON(vars) }}
      - uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - uses: ./.github/workflows/downloadImageVersions
      - name: Start server and deploy to it (either Preview or Dev)
        run: ./deployment/start_and_deploy_to_server.sh $ENVIRONMENT
        env:
          TARGETSERVER_HOST_KEYS: ${{ vars.TARGETSERVER_HOST_KEYS }}
          TARGETSERVER_URL: ${{ vars.TARGETSERVER_URL }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          KEYCLOAK_FRONTEND_URL: ${{ vars.KEYCLOAK_FRONTEND_URL }}
          KEYCLOAK_ADMIN: ${{ vars.KEYCLOAK_ADMIN }}
          KEYCLOAK_ADMIN_PASSWORD: ${{ secrets.KEYCLOAK_ADMIN_PASSWORD }}
          KEYCLOAK_DB_PASSWORD: ${{ secrets.KEYCLOAK_DB_PASSWORD }}
          BACKEND_DB_PASSWORD: ${{ secrets.BACKEND_DB_PASSWORD }}
          API_KEY_MANAGER_DB_PASSWORD: ${{ secrets.API_KEY_MANAGER_DB_PASSWORD }}
          INTERNAL_STORAGE_DB_PASSWORD: ${{ secrets.INTERNAL_STORAGE_DB_PASSWORD }}
          DOCUMENT_MANAGER_DB_PASSWORD: ${{ secrets.DOCUMENT_MANAGER_DB_PASSWORD }}
          QA_SERVICE_DB_PASSWORD: ${{ secrets.QA_SERVICE_DB_PASSWORD }}
          COMMUNITY_MANAGER_DB_PASSWORD: ${{ secrets.COMMUNITY_MANAGER_DB_PASSWORD }}
          EMAIL_SERVICE_DB_PASSWORD: ${{ secrets.EMAIL_SERVICE_DB_PASSWORD }}
          PGADMIN_PASSWORD: ${{ secrets.PGADMIN_PASSWORD }}
          KEYCLOAK_DATALAND_ADMIN_VALUE: ${{ secrets.KEYCLOAK_DATALAND_ADMIN_VALUE }}
          KEYCLOAK_DATALAND_ADMIN_SALT: ${{ secrets.KEYCLOAK_DATALAND_ADMIN_SALT }}
          DATALAND_BATCH_MANAGER_CLIENT_SECRET: ${{ secrets.DATALAND_BATCH_MANAGER_CLIENT_SECRET }}
          DATALAND_QA_SERVICE_CLIENT_SECRET: ${{ secrets.DATALAND_QA_SERVICE_CLIENT_SECRET }}
          DATALAND_COMMUNITY_MANAGER_CLIENT_SECRET: ${{ secrets.DATALAND_COMMUNITY_MANAGER_CLIENT_SECRET }}
          DATALAND_DOCUMENT_MANAGER_CLIENT_SECRET: ${{ secrets.DATALAND_DOCUMENT_MANAGER_CLIENT_SECRET }}
          DATALAND_EMAIL_SERVICE_CLIENT_SECRET: ${{ secrets.DATALAND_EMAIL_SERVICE_CLIENT_SECRET  }}
          DATALAND_BACKEND_CLIENT_SECRET: ${{ secrets.DATALAND_BACKEND_CLIENT_SECRET }}
          DATALAND_AUTOMATED_QA_SERVICE_CLIENT_SECRET: ${{ secrets.DATALAND_AUTOMATED_QA_SERVICE_CLIENT_SECRET }}
          DATALAND_DATA_EXPORTER_CLIENT_SECRET: ${{ secrets.DATALAND_DATA_EXPORTER_CLIENT_SECRET }}
          KEYCLOAK_READER_VALUE: ${{ secrets.KEYCLOAK_READER_VALUE }}
          KEYCLOAK_READER_SALT: ${{ secrets.KEYCLOAK_READER_SALT }}
          KEYCLOAK_UPLOADER_VALUE: ${{ secrets.KEYCLOAK_UPLOADER_VALUE }}
          KEYCLOAK_UPLOADER_SALT: ${{ secrets.KEYCLOAK_UPLOADER_SALT }}
          KEYCLOAK_REVIEWER_VALUE: ${{ secrets.KEYCLOAK_REVIEWER_VALUE }}
          KEYCLOAK_REVIEWER_SALT: ${{ secrets.KEYCLOAK_REVIEWER_SALT }}
          KEYCLOAK_PREMIUM_USER_VALUE: ${{ secrets.KEYCLOAK_PREMIUM_USER_VALUE }}
          KEYCLOAK_PREMIUM_USER_SALT: ${{ secrets.KEYCLOAK_PREMIUM_USER_SALT }}
          KEYCLOAK_GOOGLE_SECRET: ${{ secrets.KEYCLOAK_GOOGLE_SECRET }}
          KEYCLOAK_GOOGLE_ID: ${{ secrets.KEYCLOAK_GOOGLE_ID }}
          KEYCLOAK_LINKEDIN_ID: ${{ secrets.KEYCLOAK_LINKEDIN_ID }}
          KEYCLOAK_LINKEDIN_SECRET: ${{ secrets.KEYCLOAK_LINKEDIN_SECRET }}
          MAILJET_API_SECRET: ${{ secrets.MAILJET_API_SECRET }}
          MAILJET_API_ID: ${{ secrets.MAILJET_API_ID }}
          NOTIFICATION_INTERNAL_RECEIVERS: ${{ secrets.NOTIFICATION_INTERNAL_RECEIVERS }}
          NOTIFICATION_INTERNAL_CC: ${{ secrets.NOTIFICATION_INTERNAL_CC }}
          PROXY_LETSENCRYPT_PATH: ${{ vars.PROXY_LETSENCRYPT_PATH }}
          PROXY_PRIMARY_URL: ${{ vars.TARGETSERVER_URL }}
          PROXY_LETSENCRYPT_ARGS: ${{ vars.PROXY_LETSENCRYPT_ARGS }}
          RESET_STACK_AND_REPOPULATE: ${{ github.event.inputs.resetStackAndRepopulate }}
          RABBITMQ_USER: ${{ vars.RABBITMQ_USER }}
          RABBITMQ_PASS: ${{ secrets.RABBITMQ_PASS }}
          RABBITMQ_PASS_HASH: ${{ secrets.RABBITMQ_PASS_HASH }}
          LOAD_GLEIF_GOLDEN_COPY: ${{ github.event.inputs.loadGleifGoldenCopy }}
          LOAD_NORTHDATA_GOLDEN_COPY: ${{ github.event.inputs.loadNorthDataGoldenCopy }}
          BACKEND_MIGRATION_BASELINE_VERSION: ${{ vars.BACKEND_MIGRATION_BASELINE_VERSION }}
          COMMUNITY_MANAGER_MIGRATION_BASELINE_VERSION: ${{ vars.COMMUNITY_MANAGER_MIGRATION_BASELINE_VERSION }}
          DOCUMENT_MANAGER_MIGRATION_BASELINE_VERSION: ${{ vars.DOCUMENT_MANAGER_MIGRATION_BASELINE_VERSION }}
          INTERNAL_STORAGE_MIGRATION_BASELINE_VERSION: ${{ vars.INTERNAL_STORAGE_MIGRATION_BASELINE_VERSION }}
          QA_SERVICE_MIGRATION_BASELINE_VERSION: ${{ vars.QA_SERVICE_MIGRATION_BASELINE_VERSION }}
          EURODAT_CLIENT_KEYSTORE_INT_BASE64: ${{ secrets.EURODAT_CLIENT_KEYSTORE_INT_BASE64 }}
          EURODAT_CLIENT_TEST_INT_BASE64: ${{ secrets.EURODAT_CLIENT_TEST_INT_BASE64 }}
          EURODAT_CLIENT_TLS_CERT: ${{ secrets.EURODAT_CLIENT_TLS_CERT }}
          EURODAT_BASE_URL: ${{ secrets.EURODAT_BASE_URL }}
          KEY_STORE_FILE_PASSWORD: ${{ secrets.KEY_STORE_FILE_PASSWORD}}
          QUARKUS_HTTP_SSL_CERTIFICATE_KEY_STORE_PASSWORD: ${{ secrets.QUARKUS_HTTP_SSL_CERTIFICATE_KEY_STORE_PASSWORD}}
          QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_PASSWORD: ${{ secrets.QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_PASSWORD}}
          QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_STORE_PASSWORD: ${{ secrets.QUARKUS_OIDC_CLIENT_CREDENTIALS_JWT_KEY_STORE_PASSWORD}}
          BACKEND_URL: ${{ secrets.BACKEND_URL }}
          IGNORE_EXTERNAL_STORAGE_ERROR: ${{ github.event.inputs.ignoreExternalStorageError }}
          COMMUNITY_MANAGER_NOTIFICATION_SERVICE_FEATURE_FLAG: ${{ vars.COMMUNITY_MANAGER_NOTIFICATION_SERVICE_FEATURE_FLAG }}
          DATA_EXPORTER_OUTPUT_DIRECTORY: ${{ secrets.DATA_EXPORTER_OUTPUT_DIRECTORY }}
      - uses: ./.github/workflows/dockerLogs
        if: always()
        with:
          subfolder: 'deploy-to-server-with-latest-built-images'
      - name: Verify images
        run: ./deployment/verifyImagesRemote.sh
        env:
          TARGETSERVER_URL: ${{ vars.TARGETSERVER_URL }}
  e2e-tests:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.whichEnvironment }}
    needs:
      - deploy-to-server-with-latest-built-images
      - upload-dataland-frontend-client
    strategy:
      fail-fast: false
      matrix:
        testGroup: [ 1,2,3,4 ]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/workflows/logObjects
        name: log job contexts
        with:
          task: e2e-tests-${{ matrix.testGroup }}
          env: ${{ toJSON(env) }}
          job: ${{ toJSON(job) }}
          steps: ${{ toJSON(steps) }}
          strategy: ${{ toJSON(strategy) }}
          matrix: ${{ toJSON(matrix) }}
          needs: ${{ toJSON(needs) }}
          inputs: ${{ toJSON(inputs) }}
          vars: ${{ toJSON(vars) }}
      - name: Login to Github Packages
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download frontend API clients
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          name: frontendClients
          path: ./dataland-frontend/build/clients/
      - name: Install UPower to disable warning messages
        run: sudo apt update && sudo apt install upower
      - name: Setup SSH tunnel to admin NGINX
        run: |
          if [[ ${{ matrix.testGroup }} == 3 ]]; then
            ./deployment/setup_admin_ssh_tunnel.sh
          else
            echo "There is no connection to admin ports established."
          fi
        env:
          TARGETSERVER_HOST_KEYS: ${{ vars.TARGETSERVER_HOST_KEYS }}
          TARGETSERVER_URL: ${{ vars.TARGETSERVER_URL }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: check deployment
        run: cd dataland-frontend && npm install && npm run testgithubenvironment --url="https://${{ vars.TARGETSERVER_URL }}"
        env:
          ELECTRON_EXTRA_LAUNCH_ARGS: "--ignore-connections-limit=dataland.com,test.dataland.com,dev1.dataland.com,dev2.dataland.com,dev3.dataland.com,clone.dataland.com"
          KEYCLOAK_READER_PASSWORD: ${{ secrets.KEYCLOAK_READER_PASSWORD }}
          KEYCLOAK_UPLOADER_PASSWORD: ${{ secrets.KEYCLOAK_UPLOADER_PASSWORD }}
          KEYCLOAK_REVIEWER_PASSWORD: ${{ secrets.KEYCLOAK_REVIEWER_PASSWORD }}
          KEYCLOAK_PREMIUM_USER_PASSWORD: ${{ secrets.KEYCLOAK_PREMIUM_USER_PASSWORD }}
          KEYCLOAK_DATALAND_ADMIN_PASSWORD: ${{ secrets.KEYCLOAK_DATALAND_ADMIN_PASSWORD }}
          KEYCLOAK_ADMIN: ${{ vars.KEYCLOAK_ADMIN }}
          KEYCLOAK_ADMIN_PASSWORD: ${{ secrets.KEYCLOAK_ADMIN_PASSWORD }}
          PGADMIN_PASSWORD: ${{ secrets.PGADMIN_PASSWORD }}
          CYPRESS_RESET_DATABASE: ${{ github.event.inputs.resetStackAndRepopulate }}
          CYPRESS_IGNORE_EXTERNAL_STORAGE: ${{ github.event.inputs.ignoreExternalStorageError }}
          CYPRESS_EXECUTION_ENVIRONMENT: ${{ vars.CYPRESS_EXECUTION_ENVIRONMENT }}
          CYPRESS_TEST_GROUP: ${{ matrix.testGroup }}
          CYPRESS_SINGLE_POPULATE: true
          CYPRESS_RUN_PREPOPULATION: ${{ github.event.inputs.resetStackAndRepopulate }}
          RABBITMQ_USER: ${{ vars.RABBITMQ_USER }}
          RABBITMQ_PASS: ${{ secrets.RABBITMQ_PASS }}
          RABBITMQ_PASS_HASH: ${{ secrets.RABBITMQ_PASS_HASH }}
      - name: Move Cypress Results
        if: always()
        run: |
          mkdir -p ./dataland-frontend/cypressresult ./dataland-frontend/cypressresult/${{ matrix.testGroup }} ./dataland-frontend/cypress && 7z a -t7z -mhe=on -p"${{ secrets.SENSITIVE_ARTIFACT_ENCRYPTION_KEY }}" ./dataland-frontend/cypressresult/${{ matrix.testGroup }}/out.7z ./dataland-frontend/cypress/
      - name: Upload FE E2E Cypress Results
        if: always()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: cypress-${{ matrix.testGroup }}
          path: ./dataland-frontend/cypressresult/
          retention-days: 1
