name: CI
env:
  DATALAND_SKYMINDERCLIENT_TOKEN: ${{ secrets.DATALAND_SKYMINDERCLIENT_TOKEN }}
  DATALAND_SKYMINDERCLIENT_USER: ${{ secrets.DATALAND_SKYMINDERCLIENT_USER }}
  DATALAND_EDC_TOKEN: ${{ secrets.DATALAND_EDC_TOKEN }}
  DATALAND_EDC_USER: ${{ secrets.DATALAND_EDC_USER }}
  SKYMINDER_URL: ${{ secrets.SKYMINDER_URL }}
  SKYMINDER_PW: ${{ secrets.SKYMINDER_PW }}
  SKYMINDER_USER: ${{ secrets.SKYMINDER_USER }}

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'main'

jobs:

  unit-tests-backend:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
      - name: Execute Backend unit tests by using base image from GitHub Registry
        run: |
          docker run -v $(pwd):/app:rw \
          -e DATALAND_SKYMINDERCLIENT_TOKEN \
          -e DATALAND_SKYMINDERCLIENT_USER \
          -e DATALAND_EDC_TOKEN \
          -e DATALAND_EDC_USER \
          ghcr.io/d-fine/dataland/temurinbase:latest \
          /app/gradlew -p /app ktlintcheck detekt :dataland-backend:test --no-daemon
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: TestReport
          path: ./**/build/reports
      - name: Upload JaCoCo Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: JaCoCoResultsUnitTests
          path: ./dataland-backend/build/jacoco/*.exec

  unit-tests-frontend:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Execute Frontend Unit Tests
        run: ./gradlew :dataland-frontend:generateAPIClientFrontend :dataland-frontend:npm_run_testunit --no-daemon
      - name: Upload FE lcov Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: lcovResultsUnit
          path: ./dataland-frontend/coverage/**/lcov.info

  e2e-tests:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Execute E2E Tests
        run: ./testing/execute_e2e_tests.sh
        env:
          SKYMINDER_URL: "http://skyminder-dummyserver:8080"
      - name: Upload JaCoCo Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: JaCoCoResultsE2ETest
          path: ./*.exec
      - name: Upload FE E2E lcov Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: lcovResultsE2E
          path: ./lcov.info
      - name: Upload FE E2E Cypress Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: cypress
          path: ./cypress

  sonar:
    runs-on: ubuntu-latest
    if: always() && github.event_name != 'workflow_dispatch'
    needs:
      - e2e-tests
      - unit-tests-backend
      - unit-tests-frontend
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Build project
        run: ./gradlew assemble --no-daemon
      - uses: actions/download-artifact@v2
        with:
          name: JaCoCoResultsUnitTests
      - uses: actions/download-artifact@v2
        with:
          name: JaCoCoResultsE2ETest
      - uses: actions/download-artifact@v2
        with:
          name: lcovResultsUnit
          path: fe-coverage/unit
      - uses: actions/download-artifact@v2
        with:
          name: lcovResultsE2E
          path: fe-coverage/e2e
      - name: Generate jacocoTestReport and run Sonar
        if: always()
        run: ./gradlew jacocoTestReport sonarqube --no-daemon
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  summary:
    runs-on: ubuntu-latest
    if: success()
    needs:
      - sonar
    steps:
      - name: Summary of this workflow's overall outcome
        run: exit 0
