name: CI/CD
env:
  DATALAND_SKYMINDERCLIENT_TOKEN: ${{ secrets.DATALAND_SKYMINDERCLIENT_TOKEN }}
  DATALAND_SKYMINDERCLIENT_USER: ${{ secrets.DATALAND_SKYMINDERCLIENT_USER }}
  SKYMINDER_URL: ${{ secrets.SKYMINDER_URL }}
  SKYMINDER_PW: ${{ secrets.SKYMINDER_PW }}
  SKYMINDER_USER: ${{ secrets.SKYMINDER_USER }}

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Build all and Assemble boot jar
        run: ./gradlew assemble --no-daemon
      - name: Upload Build Directories
        uses: actions/upload-artifact@v2
        with:
          name: buildDirectories
          path: "**/build/"
  unit-tests:
    runs-on: ubuntu-latest
    needs:
      - build
    if: github.event_name != 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - uses: actions/download-artifact@v2
        with:
          name: buildDirectories
      - name: Execute Backend tests
        run: ./gradlew ktlintcheck detekt :dataland-backend:test --no-daemon
      - name: Execute Frontend Unit Tests
        run: ./gradlew :dataland-frontend:npm_run_testunit
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: TestReport
          path: ./**/build/reports
      - name: Upload JaCoCo Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: JaCoCoResultsUnitTests
          path: ./dataland-backend/build/jacoco/*.exec
      - name: Upload FE lcov Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: lcovResultsUnit
          path: ./dataland-frontend/coverage/**/lcov.info
  e2e-tests:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
      - name: Execute E2E Tests
        run: ./testing-shell-scripts/execute_e2e_tests.sh
        env:
          SKYMINDER_URL: "http://skyminder-server:8080"
      - name: Upload JaCoCo Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: JaCoCoResultsE2ETest
          path: ./*.exec
      - name: Upload FE E2E lcov Exec Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: lcovResultsE2E
          path: ./lcov.info
  sonar:
    runs-on: ubuntu-latest
    if: always() && github.event_name != 'workflow_dispatch'
    needs:
      - e2e-tests
      - unit-tests
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - uses: actions/download-artifact@v2
        with:
          name: buildDirectories
      - uses: actions/download-artifact@v2
        with:
          name: JaCoCoResultsUnitTests
      - uses: actions/download-artifact@v2
        with:
          name: JaCoCoResultsE2ETest
      - uses: actions/download-artifact@v2
        with:
          name: lcovResultsUnit
          path: fe-coverage/unit
      - uses: actions/download-artifact@v2
        with:
          name: lcovResultsE2E
          path: fe-coverage/e2e
      - name: Generate jacocoTestReport and run Sonar
        if: always()
        run: ./gradlew jacocoTestReport sonarqube --no-daemon
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    needs:
      - build
    steps:
      - name: Start Preview Server
        run: curl ${{ secrets.PREVIEW_STARTUP_URL }} > /dev/null
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: buildDirectories
      - name: Deploy to Preview
        run: |
          rm dataland-backend/build/libs/*-plain.jar
          ./deployment/deploy_to_preview.sh dataland-backend/build/libs/dataland-backend*.jar
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  summary:
    runs-on: ubuntu-latest
    if: success()
    needs:
      - sonar
    steps:
      - name: Summary of this workflow's overall outcome
        run: exit 0
