name: Cypress Build & Push
env:
  DATALAND_SKYMINDERCLIENT_TOKEN: ${{ secrets.DATALAND_SKYMINDERCLIENT_TOKEN }}
  DATALAND_SKYMINDERCLIENT_USER: ${{ secrets.DATALAND_SKYMINDERCLIENT_USER }}
  DATALAND_EDC_TOKEN: ${{ secrets.DATALAND_EDC_TOKEN }}
  DATALAND_EDC_USER: ${{ secrets.DATALAND_EDC_USER }}

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

jobs:

  build-and-push-docker-image:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Build all project outputs and npm install
        run: ./gradlew assemble npmInstall --no-daemon
      - name: Copy the gradle cache into the workspace
        run: |
          cp -r /home/runner/.gradle ./gradlecache
          cp -r /home/runner/.cache/Cypress ./cypresscache
      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Build a cypress base image and push it to GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./baseDockerfiles/cypressBaseImageDockerfile
          tags: ghcr.io/d-fine/dataland/cypressbase:latest
          push: true
