name: "Rebuild Docker Images Action"
on:
  workflow_call:
    outputs:
      dataland_e2tests_version:
        description: The Version for the E2Etest Image
        value: ${{ jobs.rebuild-docker-images.outputs.dataland_e2etests_version }}

# The idea for dynamically creating the matrix jobs comes from https://thekevinwang.com/2021/09/19/github-actions-dynamic-matrix/
jobs:
  gather-buildscripts:
    runs-on: ubuntu-latest
    outputs:
      buildscript_json_array: ${{ steps.gather-buildscripts-step.outputs.BUILDSCRIPT_JSON_ARRAY }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Gather Buildscripts
        id: gather-buildscripts-step
        run: |
          cd build-utils
          BUILDSCRIPT_JSON_ARRAY=$(ls rebuild*.sh | awk ' BEGIN { ORS = ""; print "["; } { print "\""$0"\", "; } END { print "]"; }' | sed "s/, ]/]/g")
          echo "BUILDSCRIPT_JSON_ARRAY=$BUILDSCRIPT_JSON_ARRAY" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT
  rebuild-docker-images:
    runs-on: ubuntu-latest
    needs: gather-buildscripts
    outputs:
      dataland_e2etests_version: ${{ steps.build-dockerimages.outputs.DATALAND_E2ETESTS_VERSION }}
    strategy:
      fail-fast: false
      matrix:
        buildScript: ${{ fromJSON(needs.gather-buildscripts.outputs.buildscript_json_array) }}
    env:
      BUILD_SCRIPT: ${{ matrix.buildScript }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/workflows/logObjects
        name: log job contexts
        with:
          task: rebuild-docker-images-${{ matrix.buildScript }}
          env: ${{ toJSON(env) }}
          job: ${{ toJSON(job) }}
          steps: ${{ toJSON(steps) }}
          strategy: ${{ toJSON(strategy) }}
          matrix: ${{ toJSON(matrix) }}
          needs: ${{ toJSON(needs) }}
          inputs: ${{ toJSON(inputs) }}
          vars: ${{ toJSON(vars) }}
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: Login to Github Packages
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker Images
        id: build-dockerimages
        env:
          GITHUB_USER: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Matrix Job for ./build-utils/$BUILD_SCRIPT"
          ./build-utils/base_rebuild_gradle_dockerfile.sh
          set -o allexport
          source ./*github_env.log
          source ./environments/.env.uncritical
          set +o allexport
          chmod +x "./build-utils/$BUILD_SCRIPT"
          "./build-utils/$BUILD_SCRIPT"
      - name: Store docker image versions
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: dockerImageVersions-${{ matrix.buildScript }}
          path: ./*github_env.log
      - name: Store env and secrets
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: parameters-${{ matrix.buildScript }}
          path: ./logs/
