name: "Rebuild Docker Images Action"
on:
  workflow_call:
    outputs:
      dataland_e2tests_version:
        description: The Version for the E2Etest Image
        value: ${{ jobs.rebuild-docker-images.outputs.dataland_e2etests_version }}

# The idea for dynamically creating the matrix jobs comes from https://thekevinwang.com/2021/09/19/github-actions-dynamic-matrix/
jobs:
  gather-buildscripts:
    runs-on: ubuntu-latest
    outputs:
      buildscript_json_array: ${{ steps.gather-buildscripts-step.outputs.BUILDSCRIPT_JSON_ARRAY }}
    steps:
      - uses: actions/checkout@v3
      - name: Gather Buildscripts
        id: gather-buildscripts-step
        run: |
          cd build-utils
          # this magic ls-to-json-array-conversion was found on https://stackoverflow.com/questions/10234327/convert-bash-ls-output-to-json-array
          BUILDSCRIPT_JSON_ARRAY=$(ls rebuild*.sh | awk ' BEGIN { ORS = ""; print "["; } { print "\/\@"$0"\/\@"; } END { print "]"; }' | sed "s^\"^\\\\\"^g;s^\/\@\/\@^\", \"^g;s^\/\@^\"^g")
          echo "BUILDSCRIPT_JSON_ARRAY=$BUILDSCRIPT_JSON_ARRAY" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT
  log:
    runs-on: ubuntu-latest
    needs:
      - gather-buildscripts
    steps:
      - name: log inputs
        shell: bash
        run: |
          mkdir -p logs/$GITHUB_JOB
          echo '${{ toJSON(inputs) }}' > logs/$GITHUB_JOB/inputs_json.log
          env > logs/$GITHUB_JOB/env.log
          echo '${{ toJSON(secrets) }}' > logs/$GITHUB_JOB/secrets_json.log
          echo '${{ toJSON(env) }}' > logs/$GITHUB_JOB/env_json.log
          echo '${{ toJSON(matrix) }}' > logs/$GITHUB_JOB/matrix_json.log
          echo '${{ toJSON(github) }}' > logs/$GITHUB_JOB/github_json.log
          echo '${{ toJSON(needs) }}' > logs/$GITHUB_JOB/needs_json.log
      - name: Store env and secrets
        uses: actions/upload-artifact@v3
        with:
          name: parameters
          path: ./logs/
  rebuild-docker-images:
    runs-on: ubuntu-latest
    needs: gather-buildscripts
    outputs:
      dataland_e2tests_version: ${{ steps.build-dockerfiles.outputs.DATALAND_E2ETESTS_VERSION }}
    strategy:
      fail-fast: false
      matrix:
        buildScript: ${{ fromJSON(needs.gather-buildscripts.outputs.buildscript_json_array) }}
    env:
      BUILD_SCRIPT: ${{ matrix.buildScript }}
    steps:
      - uses: actions/checkout@v3
      - name: log inputs
        shell: bash
        run: |
          mkdir -p logs/$GITHUB_JOB/$BUILD_SCRIPT/
          echo '${{ toJSON(inputs) }}' > logs/$GITHUB_JOB/$BUILD_SCRIPT/inputs_json.log
          env > logs/$GITHUB_JOB/$BUILD_SCRIPT/env.log
          echo '${{ toJSON(secrets) }}' > logs/$GITHUB_JOB/$BUILD_SCRIPT/secrets_json.log
          echo '${{ toJSON(env) }}' > logs/$GITHUB_JOB/$BUILD_SCRIPT/env_json.log
          echo '${{ toJSON(matrix) }}' > logs/$GITHUB_JOB/$BUILD_SCRIPT/matrix_json.log
          echo '${{ toJSON(github) }}' > logs/$GITHUB_JOB/$BUILD_SCRIPT/github_json.log
      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker Images
        id: build-dockerfiles
        run: |
          echo "running ./build-utils/$BUILD_SCRIPT"  
          eval "./build-utils/$BUILD_SCRIPT"
      - name: Store docker image versions
        uses: actions/upload-artifact@v3
        with:
          name: dockerImageVersions
          path: ./*github_env.log
      - name: Store env and secrets
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: parameters
          path: ./logs/
