name: Temurin Build & Push
env:
  DATALAND_EDC_TOKEN: ${{ secrets.DATALAND_EDC_TOKEN }}
  DATALAND_EDC_USER: ${{ secrets.DATALAND_EDC_USER }}

on:
  workflow_dispatch:

jobs:

  build-and-push-docker-image:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - uses: ./.github/workflows/prepare
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Build all project outputs and copy gradle cache
        run: ./gradlew assemble --no-daemon --stacktrace
      - name: Copy the gradle cache into the workspace
        run: cp -r /home/runner/.gradle ./gradlecache
      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Build an eclipse temurin base image and push it to GitHub Container Registry
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./baseDockerfiles/temurinBaseImageDockerfile
          tags: ghcr.io/d-fine/dataland/temurinbase:latest
          push: true
      - uses: ./.github/workflows/dockerLogs
